@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "jf-openhuninn-1.0";
  src: url(../font/jf-openhuninn-1.0.woff) format("woff");
  src: url(../font/jf-openhuninn-1.0.ttf) format("truetype");
}

* {
  font-family: "jf-openhuninn-1.0";
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

.pu_head_wrap_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
}

.pu_head_wrap_div .pu_logo_a {
  width: 20%;
  text-align: center;
  padding-top: 1%;
}

.pu_head_wrap_div .pu_head_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.pu_head_wrap_div .pu_head_ul .pu_head_li {
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.pu_head_wrap_div .pu_head_ul .pu_head_li .pu_text_a {
  color: #01355D;
  text-decoration: none;
  padding: 5px 0;
  font-size: 20px;
  letter-spacing: 1px;
}

.pu_head_wrap_div .pu_mem_login_div_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.pu_head_wrap_div .pu_mem_login_div_wrap .pu_mem_login_div {
  font-size: 16px;
  margin-right: 5%;
  white-space: nowrap;
  letter-spacing: 1px;
}

.pu_head_wrap_div .pu_mem_login_div_wrap .pu_icon_div {
  width: 30px;
}

.pu_head_wrap_div .pu_mem_login_div_wrap .pu_icon_div img {
  max-width: 100%;
}

.pu_head_wrap_div::after {
  content: "";
  background-image: url("/images/cloud.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  bottom: auto;
  height: 150px;
  width: 100%;
  z-index: -1;
}

.pu_flow-wave {
  background: radial-gradient(circle at 10px -7px, transparent 8px, currentColor 8px, currentColor 9px, transparent 9px) repeat-x, radial-gradient(circle at 10px 27px, transparent 8px, currentColor 8px, currentColor 9px, transparent 9px) repeat-x;
  background-size: 20px 20px;
  background-position: -10px calc(100% + 16px), 0 calc(100% - 4px);
}

.pu_flow-wave:hover {
  -webkit-animation: pu_waveFlow 1s infinite linear;
          animation: pu_waveFlow 1s infinite linear;
}

@-webkit-keyframes pu_waveFlow {
  from {
    background-position-x: -10px, 0;
  }
  to {
    background-position-x: -30px, -20px;
  }
}

@keyframes pu_waveFlow {
  from {
    background-position-x: -10px, 0;
  }
  to {
    background-position-x: -30px, -20px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  display: block;
  overflow: hidden;
}

/* main區域 */
main {
  position: relative;
  margin: 0 auto;
}

main::before {
  top: -500px;
  right: -100px;
  background-color: rgba(250, 208, 91, 0.863);
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  position: absolute;
  z-index: -1;
  content: '';
  width: 100%;
  height: 1000px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.intro {
  font-size: 20px;
  text-align: center;
  padding: 50px 0;
  margin-bottom: 50px;
}

.intro > p {
  margin-bottom: 30px;
}

.upper h3 {
  font-size: 24px;
  text-align: center;
}

.upper section.choose-fish {
  width: 100%;
  height: 500px;
  margin: 100px 0 50px;
  background: url(../images/list.png) no-repeat top/contain;
  position: relative;
}

.upper section.choose-fish .note {
  width: 400px;
  height: 500px;
  background: url(../images/note.png) no-repeat top/contain;
  position: absolute;
  top: -50px;
}

.upper section.choose-fish .note .note-content {
  font-size: 20px;
  position: absolute;
  top: 190px;
  left: 122px;
}

.upper section.choose-fish .note .note-content span:nth-child(2) {
  font-size: 16px;
  margin-left: 30px;
}

.upper section.choose-fish .note .fish-pic {
  border: 2px solid aqua;
  width: 70%;
  height: 200px;
  top: 240px;
  left: 80px;
  position: absolute;
  background: url(../images/seafood3.png) no-repeat center/contain;
}

.upper section.choose-fish .note:nth-child(2) {
  right: 500px;
  background-image: url(../images/note02.png);
}

.upper section.choose-fish .note:nth-child(2) .fish-pic {
  background: url(../images/seafood8.png) no-repeat center/contain;
}

.upper section.choose-fish .note:nth-child(3) {
  right: 50px;
}

.upper section.choose-fish .note:nth-child(3) .fish-pic {
  background: url(../images/seafood4.png) no-repeat center/contain;
}

section.paper {
  background-color: #E3D6B3;
  width: 90%;
  display: block;
  margin: 0 auto;
}

section.paper .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side-left {
  width: 40%;
  height: 520px;
  border: 1px solid black;
  display: inline-block;
  padding: 50px 0 0 10px;
}

.side-left .food-display {
  position: relative;
  width: 100%;
}

.side-left .food-display img {
  width: 100%;
}

.side-right {
  width: 60%;
  padding: 50px 10px 0;
  display: inline-block;
}

.side-right .for-phone {
  display: none;
}

.side-right .choose-element {
  width: 95%;
  margin: auto;
  margin-bottom: 50px;
  font-size: 24px;
  text-align: center;
}

.side-right .choose-element h3 {
  margin-bottom: 30px;
}

.side-right .choose-element ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.side-right .choose-element ul li {
  width: 23%;
  font-size: 18px;
  border: 1px solid white;
}

.side-right .choose-element ul li figure img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
}

.side-right .choose-element ul li figure figcaption {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.side-right .choose-cook {
  width: 95%;
  margin: auto;
  margin-bottom: 50px;
  font-size: 24px;
  text-align: center;
}

.side-right .choose-cook h3 {
  margin: 30px 0;
}

.side-right .choose-cook ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.side-right .choose-cook ul li {
  width: 30%;
  font-size: 18px;
  text-align: center;
  padding: 55px;
  border: 1px solid azure;
}

form {
  width: 90%;
  padding: 20px 10px;
  margin: 0 auto;
  text-align: center;
}

form h3 {
  font-size: 24px;
}

form .food-info {
  margin: 30px 0 20px;
  text-align: left;
  width: 100%;
}

form .food-info span {
  display: inline-block;
  margin-left: 20px;
  background-color: #4d4d4d;
  color: whitesmoke;
  padding: 10px;
}

form .food-info label {
  width: 20%;
}

form .food-info input {
  line-height: normal;
  display: block;
  margin: 10px 0 0;
  border: solid 1px #ececec;
  border-radius: 4px;
  background: #f9f9f9;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 100%;
  height: 25px;
  padding: 25px 50px;
}

form .food-info textarea {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
  width: 100%;
  margin: 10px 0 0;
  border: solid 1px #ececec;
  border-radius: 4px;
  background: #f9f9f9;
  height: 150px;
  padding: 25px 50px;
  resize: vertical;
  font-size: 100%;
}

form .form-control h3 {
  margin: 50px 0 20px;
}

form .form-control input {
  border: transparent;
  background-color: #40B5E5;
  color: aliceblue;
  padding: 20px 50px;
  margin: 0 10px;
  border-radius: 10px;
  cursor: pointer;
}

form .form-control input:first-child {
  background-color: #021A71;
}

@media screen and (max-width: 1200px) {
  .side-right .choose-cook ul li {
    padding: 50px 46px;
  }
}

@media screen and (max-width: 991px) {
  .side-right .choose-cook ul li {
    padding: 33px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    font-size: 16px;
  }
  .upper {
    display: none;
  }
  .center {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .center .side-left {
    padding: 50px;
    width: 100%;
    height: auto;
  }
  .center .side-left .food-display {
    position: relative;
    width: 100%;
  }
  .center .side-left .food-display img {
    width: 100%;
  }
  .center .side-right {
    width: 100%;
  }
  .center .for-phone {
    display: block;
    width: 100%;
    /* 頁籤內容區塊 */
  }
  .center .for-phone .list-block ul.tab-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .center .for-phone .list-block ul.tab-list li {
    display: inline-block;
    width: 100%;
    /* 將底部黑線改成白色 */
  }
  .center .for-phone .list-block ul.tab-list li > a {
    display: inline-block;
    padding: 2% 33%;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    background-color: darkorange;
    position: relative;
    top: 2px;
  }
  .center .for-phone .list-block ul.tab-list li > a.-on {
    color: black;
    background-color: crimson;
  }
  .center .for-phone .list-block ul.tab-list li > a.-on::after {
    width: 100%;
    left: 0;
  }
  .center .for-phone .tab-contents {
    border: 1px solid black;
  }
  .center .for-phone .tab-contents .tab {
    padding: 10px;
    display: none;
  }
  .center .for-phone .tab-contents .tab.-on {
    display: block;
  }
  .center .for-phone .tab-contents .tab.-on .cabinet-top,
  .center .for-phone .tab-contents .tab.-on .cabinet-bottom {
    width: 100%;
    height: 150px;
    background-color: bisque;
    position: relative;
  }
  .center .for-phone .tab-contents .tab.-on .cabinet-top ul,
  .center .for-phone .tab-contents .tab.-on .cabinet-bottom ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .center .for-phone .tab-contents .tab.-on .cabinet-top ul li,
  .center .for-phone .tab-contents .tab.-on .cabinet-bottom ul li {
    width: 23%;
    font-size: 18px;
    border: 1px solid white;
  }
  .center .for-phone .tab-contents .tab.-on .cabinet-top ul li figure img,
  .center .for-phone .tab-contents .tab.-on .cabinet-bottom ul li figure img {
    width: 100%;
    -o-object-fit: fill;
       object-fit: fill;
    -o-object-position: center;
       object-position: center;
  }
  .center .for-phone .tab-contents .tab.-on .cabinet-top ul li figure figcaption,
  .center .for-phone .tab-contents .tab.-on .cabinet-bottom ul li figure figcaption {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }
  .center .for-phone .tab-contents .tab.-on .cabinet-top::before,
  .center .for-phone .tab-contents .tab.-on .cabinet-bottom::before {
    bottom: 0px;
    left: -0px;
    background-color: peru;
    position: absolute;
    z-index: 1;
    content: '';
    width: 100%;
    height: 20px;
  }
  .center .choose-cook,
  .center .choose-element {
    display: none;
  }
  form .food-info span {
    padding: 5px;
  }
  form .food-info input,
  form .food-info textarea {
    padding: 2px;
  }
}

@media screen and (max-width: 576px) {
  form .form-control input {
    padding: 10px 40px;
    margin: 0 5px;
  }
}

@media screen and (max-width: 500px) {
  form .form-control input {
    padding: 10px 25px;
    margin: 0 5px;
  }
}
/*# sourceMappingURL=customized_cuisine.css.map */