* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#screen,
#touch-layer,
#waves,
#info-screen {
  position: relative;
  height: 100%;
  width: 100%;
}

#wrapper {
  padding-bottom: 10%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #41B6E6), to(#001871));
  background: linear-gradient(to bottom, #41B6E6 0, #001871 100%);
}

.wrapper_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding-top: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper_bottom .game_title {
  color: white;
  font-size: 30px;
  letter-spacing: 1px;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.wrapper_bottom .game_title div {
  margin-bottom: 2%;
}

.wrapper_bottom .show_seafood_wrap {
  text-align: center;
  color: white;
}

.wrapper_bottom .show_seafood_wrap .show_seafood_text {
  font-size: 20px;
  margin-bottom: 2%;
}

.wrapper_bottom .show_seafood_wrap .show_seafood_img_div {
  background-color: #CCE6F4;
}

.wrapper_bottom .show_seafood_wrap .show_seafood_img_div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2%;
}

.wrapper_bottom .show_seafood_wrap .show_seafood_img_div div div {
  width: 100px;
  padding: 2%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.wrapper_bottom .show_seafood_wrap .show_seafood_img_div div div img {
  max-width: 100%;
}

.capture_div {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.capture_div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  color: white;
  font-size: 18px;
}

.capture_div div .capture_poke {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.capture_div div .capture_poke img {
  max-width: 100%;
  margin: 0px 5px;
}

#touch-layer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
  margin: 0 auto;
  width: 90%;
  border: 1px solid black;
  z-index: 1;
}

#touch-layer #game_start {
  -webkit-animation: start 2s ease 0s infinite alternate;
          animation: start 2s ease 0s infinite alternate;
  position: absolute;
  z-index: 1000;
  text-align: center;
  width: 30%;
  cursor: pointer;
}

#touch-layer #game_start img {
  max-width: 100%;
}

#touch-layer #click_text {
  position: absolute;
  z-index: 1000;
  text-align: center;
  bottom: 35%;
  font-size: 25px;
  color: #404040;
}

#touch-layer #asd {
  position: absolute;
  width: 90%;
  z-index: 90;
  text-align: center;
  background-color: white;
  padding: 3%;
  display: none;
}

#touch-layer #asd .suc_cap_div {
  font-size: 30px;
  color: #30B0E1;
  margin-bottom: 5%;
}

#touch-layer #asd .suc_cap_div div {
  margin-bottom: 3%;
}

#touch-layer #asd .suc_cap_div .capture_poke {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

#touch-layer #asd .suc_cap_div .capture_poke img {
  max-width: 100%;
}

#touch-layer #asd .score_point_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#touch-layer #asd .score_point_div .point_div {
  width: 50%;
}

#touch-layer #asd .score_point_div .point_div #final_score {
  color: red;
  font-size: 20px;
}

#touch-layer #asd .score_point_div .point_div .point_text {
  margin: 20px 0 80px 0;
}

#touch-layer #asd .score_point_div .point_div .no_like_seafood {
  margin-bottom: 20px;
}

#touch-layer #asd .score_point_div .point_div #re_game_start {
  background-color: #FFBA59;
  padding: 20px 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 30px;
  color: white;
}

#touch-layer #asd .score_point_div .score_div {
  width: 50%;
}

#touch-layer #asd .score_point_div .score_div .final_point {
  color: red;
  font-size: 20px;
}

#touch-layer #asd .score_point_div .score_div .score_text {
  margin: 20px 0 80px 0;
}

#touch-layer #asd .score_point_div .score_div .capture_seafood {
  margin-bottom: 20px;
}

#touch-layer #asd .score_point_div .score_div button {
  background-color: #30B2E3;
  padding: 20px 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 30px;
  color: white;
}

#touch-layer #asd_fail {
  position: absolute;
  width: 90%;
  z-index: 90;
  text-align: center;
  background-color: white;
  padding: 3%;
  display: none;
}

#touch-layer #asd_fail .no_seafood_text {
  font-size: 30px;
  color: #30B0E1;
  margin-bottom: 5%;
}

#touch-layer #asd_fail .no_seafood_text div {
  margin-bottom: 3%;
}

#touch-layer #asd_fail .fail_point_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#touch-layer #asd_fail .fail_point_div .fail_score_div_small {
  width: 50%;
}

#touch-layer #asd_fail .fail_point_div .fail_score_div_small #final_score {
  color: red;
  font-size: 20px;
}

#touch-layer #asd_fail .fail_point_div .fail_score_div_small div {
  margin: 20px 0 80px 0;
}

#touch-layer #asd_fail .fail_point_div .fail_point_div_small {
  width: 50%;
}

#touch-layer #asd_fail .fail_point_div .fail_point_div_small #final_point {
  color: red;
  font-size: 20px;
}

#touch-layer #asd_fail .fail_point_div .fail_point_div_small div {
  margin: 20px 0 80px 0;
}

#touch-layer #asd_fail #fail_re_game_start {
  background-color: #FFBA59;
  padding: 20px 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 30px;
  color: white;
}

#touch-layer #screen {
  background-image: url("/images/seabottom.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#touch-layer #screen #time_up {
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 5px;
  font-size: 50px;
  color: #707070;
}

#touch-layer #screen .ball_num_div {
  position: absolute;
  top: 50px;
  left: 5px;
  font-size: 50px;
  color: #707070;
}

#touch-layer #screen .mem_score_div {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 30px;
}

#touch-layer #screen .mem_point_div {
  position: absolute;
  right: 10px;
  top: 50px;
  font-size: 30px;
}

#touch-layer #screen #target-container {
  position: relative;
}

#touch-layer #screen #target-container #target {
  width: 140px;
  height: 140px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  z-index: 2;
}

#touch-layer #screen #ball {
  display: none;
  position: fixed;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-image: url("http://127.0.0.1:5500/images/Group%2071.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 3;
}

#touch-layer #screen .fake_ball {
  position: absolute;
  bottom: 10px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-image: url("http://127.0.0.1:5500/images/Group%2071.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 3;
}

@-webkit-keyframes start {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes start {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

#screen,
#capture-screen,
#ring-screen {
  position: relative;
}

#ring-screen {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
}

#ring {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 150px;
  border: 2px solid white;
  border-radius: 100px;
}

#ring-active {
  border: 2px solid #64DD17;
  border-radius: 100px;
}

#ring-fill {
  width: 150px;
  height: 150px;
}

#capture-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #222;
  z-index: 12;
}

#poof-container {
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#poof {
  width: 100%;
  height: 20px;
  opacity: 0.8;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/374756/pkmngo-poof.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

#capture-ball {
  position: relative;
  width: 200px;
  height: 200px;
  background-image: url("http://127.0.0.1:5500/images/Group%2071.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#capture-ball-button-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

#capture-ball-button {
  width: 30px;
  height: 30px;
  margin-top: -20px;
  border-radius: 20px;
  opacity: 0.8;
  background-color: red;
}

#capture-status {
  position: absolute;
  font-size: 1.5em;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 1em 0.2em;
  color: #FFF;
}

#particles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.particle {
  position: fixed;
  width: 7px;
  height: 7px;
  background-color: #fff;
  border-radius: 5px;
  opacity: 0.7;
  z-index: 1;
}

#capture-confetti {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 6;
}

#capture-confetti > div.particle {
  height: 10px;
  width: 10px;
  opacity: 0.9;
  background-color: #4aa6fb;
}

#info-button {
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 15;
  color: button;
  width: 30px;
  height: 30px;
  color: #FFF;
  border: 2px solid #FFF;
  border-radius: 15px;
  cursor: pointer;
}

#info-screen {
  z-index: 14;
}

#info-shade {
  background-color: #222;
  opacity: 0.89;
}

#info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  font-size: 0.9em;
  color: white;
}

.flex-center, #touch-layer #screen #target-container, #screen,
#capture-screen,
#ring-screen, #poof-container, #capture-ball-button-container, #info-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fixed-full-width,
#capture-screen, #info-screen, #info-shade, #info-text {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.hidden {
  display: none !important;
}
/*# sourceMappingURL=game.css.map */