@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "jf-openhuninn-1.0";
  font-family: "NaikaiFont-Regular.ttf";
  src: url(../font/jf-openhuninn-1.0.woff) format("woff");
  src: url(../font/jf-openhuninn-1.0.ttf) format("truetype");
  src: url(../font/NaikaiFont-Regular.ttf);
}

body {
  font-family: "jf-openhuninn-1.0";
}

h1 {
  font-size: 32px;
  font-family: "NaikaiFont-Regular.ttf";
  text-align: center;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

.mobile_header {
  display: none;
}

.pu_head_wrap_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
}

.pu_head_wrap_div .pu_logo_a {
  width: 20%;
  text-align: center;
  padding-top: 1%;
  display: block;
}

.pu_head_wrap_div .pu_head_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.pu_head_wrap_div .pu_head_ul .pu_head_li {
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.pu_head_wrap_div .pu_head_ul .pu_head_li .pu_text_a {
  color: #01355D;
  text-decoration: none;
  padding: 5px 0;
  font-size: 20px;
  letter-spacing: 1px;
}

.pu_head_wrap_div .pu_mem_login_div_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.pu_head_wrap_div .pu_mem_login_div_wrap .pu_mem_login_div {
  font-size: 16px;
  margin-right: 5%;
  white-space: nowrap;
  letter-spacing: 1px;
}

.pu_head_wrap_div .pu_mem_login_div_wrap .pu_icon_div {
  width: 30px;
}

.pu_head_wrap_div .pu_mem_login_div_wrap .pu_icon_div img {
  max-width: 100%;
}

.pu_head_wrap_div::after {
  content: "";
  background-image: url("/images/cloud.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  bottom: auto;
  height: 150px;
  width: 100%;
  z-index: -1;
}

.pu_flow-wave {
  background: radial-gradient(circle at 10px -7px, transparent 8px, currentColor 8px, currentColor 9px, transparent 9px) repeat-x, radial-gradient(circle at 10px 27px, transparent 8px, currentColor 8px, currentColor 9px, transparent 9px) repeat-x;
  background-size: 20px 20px;
  background-position: -10px calc(100% + 16px), 0 calc(100% - 4px);
}

.pu_flow-wave:hover {
  -webkit-animation: pu_waveFlow 1s infinite linear;
          animation: pu_waveFlow 1s infinite linear;
}

@-webkit-keyframes pu_waveFlow {
  from {
    background-position-x: -10px, 0;
  }
  to {
    background-position-x: -30px, -20px;
  }
}

@keyframes pu_waveFlow {
  from {
    background-position-x: -10px, 0;
  }
  to {
    background-position-x: -30px, -20px;
  }
}

.pu_h1_div {
  position: relative;
  width: 100%;
  margin: 5% auto;
}

.pu_h1_div .pu_h1_img {
  max-width: 100%;
}

.pu_h1_div .pu_div_text {
  position: absolute;
  bottom: 25%;
  right: 0;
  left: 0;
  letter-spacing: 1px;
}

@media all and (max-width: 1200px) {
  .pu_h1_div {
    position: relative;
    margin: 5% auto;
    width: 80%;
    font-size: 24px;
  }
  .pu_h1_div .pu_h1_img {
    max-width: 100%;
  }
  .pu_h1_div .pu_div_text {
    position: absolute;
    bottom: 25%;
    right: 0;
    left: 0;
    letter-spacing: 1px;
  }
}

@media all and (max-width: 991px) {
  .pu_h1_div {
    position: relative;
    margin: 5% auto;
    width: 80%;
    font-size: 24px;
  }
  .pu_h1_div .pu_h1_img {
    max-width: 100%;
  }
  .pu_h1_div .pu_div_text {
    position: absolute;
    bottom: 25%;
    right: 0;
    left: 0;
    letter-spacing: 1px;
  }
}

@media all and (max-width: 767px) {
  .desktop_header {
    display: none;
  }
  .mobile_header {
    display: block;
    position: relative;
  }
  .mobile_header .pu_mb_logo_a {
    position: relative;
    z-index: 5;
    display: block;
    width: 10%;
    margin: 5px 0 0 5px;
  }
  .mobile_header .pu_mb_logo_a img {
    max-width: 100%;
  }
  .mobile_header .mb_sma_cloud .mb_sma_cloud_img {
    position: absolute;
    right: -5px;
    top: -10px;
    z-index: 2;
  }
  .mobile_header .mb_sma_cloud .mb_big_cloud_img_div {
    position: absolute;
    right: -770px;
    top: -5px;
    z-index: 1;
    display: none;
  }
  .mobile_header .mb_sma_cloud .mb_big_cloud_img_div .mb_big_cloud_text {
    position: absolute;
    z-index: 5;
    top: 10%;
    left: 50%;
  }
  .mobile_header .mb_sma_cloud .mb_big_cloud_img_div .mb_big_cloud_text .pu_mb_text_a {
    color: #01355D;
    text-decoration: none;
    line-height: 5;
    letter-spacing: 1px;
    padding: 5px 0;
    font-size: 19.2px;
  }
  .mobile_header .mb_sma_cloud .burger {
    position: absolute;
    z-index: 10;
    right: 10px;
    top: 5px;
    cursor: pointer;
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .mobile_header .mb_sma_cloud .burger span {
    display: block;
    width: 33px;
    height: 3px;
    margin-bottom: 7px;
    position: relative;
    background: #01355D;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.25s ease, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.25s ease, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.25s ease;
    transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.25s ease, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .mobile_header .mb_sma_cloud .burger span:last-child {
    margin-bottom: 0;
  }
  .mobile_header .burger--close span:nth-child(1) {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(5px, 0px);
            transform: rotate(45deg) translate(5px, 0px);
  }
  .mobile_header .burger--close span:nth-child(2) {
    opacity: 0;
    -webkit-transform: translateX(10px) scale(0, 0);
            transform: translateX(10px) scale(0, 0);
  }
  .mobile_header .burger--close span:nth-child(3) {
    opacity: 1;
    -webkit-transform: rotate(-45deg) translate(0px, 2px);
            transform: rotate(-45deg) translate(0px, 2px);
  }
  .mobile_header .burger--close {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .pu_h1_div {
    position: relative;
    margin: 5% auto;
    width: 80%;
    font-size: 20px;
    z-index: -1;
  }
  .pu_h1_div .pu_h1_img {
    max-width: 100%;
  }
  .pu_h1_div .pu_div_text {
    position: absolute;
    bottom: 25%;
    right: 0;
    left: 0;
    letter-spacing: 1px;
  }
}

@media all and (max-width: 576px) {
  .pu_h1_div {
    position: relative;
    margin: 5% auto;
    width: 80%;
    font-size: 16px;
    z-index: -1;
  }
  .pu_h1_div .pu_h1_img {
    max-width: 100%;
  }
  .pu_h1_div .pu_div_text {
    position: absolute;
    bottom: 25%;
    right: 0;
    left: 0;
    letter-spacing: 1px;
  }
}

@-webkit-keyframes waves {
  /*波浪*/
  0% {
    background-image: url("/images/wave_keyframes01.png");
  }
  50% {
    background-image: url("/images/wave_keyframes02.png");
  }
  100% {
    background-image: url("/images/wave_keyframes03.png");
  }
}

@keyframes waves {
  /*波浪*/
  0% {
    background-image: url("/images/wave_keyframes01.png");
  }
  50% {
    background-image: url("/images/wave_keyframes02.png");
  }
  100% {
    background-image: url("/images/wave_keyframes03.png");
  }
}

@-webkit-keyframes waves_calm {
  /*海面*/
  0% {
    background-position: 50px 25px;
  }
  25% {
    background-position: 25px 50px;
  }
  50% {
    background-position: 50px 25px;
  }
  75% {
    background-position: -25px -50px;
  }
  100% {
    background-position: -50px -25px;
  }
}

@keyframes waves_calm {
  /*海面*/
  0% {
    background-position: 50px 25px;
  }
  25% {
    background-position: 25px 50px;
  }
  50% {
    background-position: 50px 25px;
  }
  75% {
    background-position: -25px -50px;
  }
  100% {
    background-position: -50px -25px;
  }
}

@-webkit-keyframes ripples {
  /*漣漪*/
  0% {
    background-image: url("/images/ripple_keyframes01.png");
  }
  50% {
    background-image: url("/images/ripple_keyframes02.png");
  }
  100% {
    background-image: url("/images/ripple_keyframes03.png");
  }
}

@keyframes ripples {
  /*漣漪*/
  0% {
    background-image: url("/images/ripple_keyframes01.png");
  }
  50% {
    background-image: url("/images/ripple_keyframes02.png");
  }
  100% {
    background-image: url("/images/ripple_keyframes03.png");
  }
}

@-webkit-keyframes sailing {
  /*船行*/
  0% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  37% {
    top: -5px;
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  50% {
    top: -2px;
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  62% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
}

@keyframes sailing {
  /*船行*/
  0% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  25% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  37% {
    top: -5px;
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  50% {
    top: -2px;
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  62% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  75% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
}

@-webkit-keyframes wabble {
  0% {
    top: 0px;
  }
  50% {
    top: -2px;
  }
  100% {
    top: 0px;
  }
}

@keyframes wabble {
  0% {
    top: 0px;
  }
  50% {
    top: -2px;
  }
  100% {
    top: 0px;
  }
}

@-webkit-keyframes cloud {
  /*雲在飄*/
  from {
    background-position: 0 0;
  }
  to {
    background-position: 5760px 0;
  }
}

@keyframes cloud {
  /*雲在飄*/
  from {
    background-position: 0 0;
  }
  to {
    background-position: 5760px 0;
  }
}

div.forALL {
  width: 100%;
  height: 100vh;
  margin: 0;
  margin-top: -71px;
  padding: 0;
  /*background: linear-gradient(to bottom, #9cd6ff, #ffffff);*/
  /*background: linear-gradient(to bottom, #9cd6ff, #ffffff , #48c6e4);*/
  background: radial-gradient(ellipse at top, #FEFFDB, #9cd6ff, #48c6e4);
}

div.logo {
  width: 300px;
  margin: 0 auto;
  margin-top: 70px;
}

div.logo > img {
  max-width: 100%;
}

div.cloud {
  border: 1px solid red;
  background-image: url("/images/clouds.png");
  height: 500px;
  margin-top: -500px;
  -webkit-animation: cloud 180s infinite;
          animation: cloud 180s infinite;
}

div.warp {
  border: 1px solid gold;
  margin-top: 280px;
}

ul.cruises {
  border: 1px solid firebrick;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

li {
  border: 1px solid purple;
  list-style: none;
  display: inline-block;
  margin-left: 100px;
  margin-right: 100px;
}

li > a {
  border: 1px solid red;
  display: inline-block;
  position: relative;
}

li > a.front {
  background-image: url("/images/Cruise_landingPage_02.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 650px;
  height: 170px;
  -webkit-animation: sailing 2s infinite;
          animation: sailing 2s infinite;
  -webkit-animation-timing-function: cubic-bezier(0.17, 0.67, 0.58, 0.56);
          animation-timing-function: cubic-bezier(0.17, 0.67, 0.58, 0.56);
}

li > a.back {
  background-image: url("/images/Cruise_landingPage_01.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 650px;
  height: 170px;
  -webkit-animation: wabble 2s infinite;
          animation: wabble 2s infinite;
  -webkit-animation-timing-function: cubic-bezier(0.17, 0.67, 0.58, 0.56);
          animation-timing-function: cubic-bezier(0.17, 0.67, 0.58, 0.56);
}

li > a.front > h1 {
  display: inline-block;
  position: absolute;
  top: -20%;
  left: 60%;
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: microsoft jhenghei;
  color: #363636;
  font-size: 5rem;
}

li > a.back > h1 {
  display: inline-block;
  position: absolute;
  top: -20%;
  left: 40%;
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: microsoft jhenghei;
  color: #363636;
  font-size: 5rem;
}

div.waves {
  background-image: url("/images/wave_keyframes01.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 574px;
  height: 123px;
  margin-left: 100px;
  margin-top: 80px;
  -webkit-animation: waves 0.5s infinite ease-in-out;
          animation: waves 0.5s infinite ease-in-out;
}

div.ripples {
  background-image: url("/images/ripple_keyframes01.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 753px;
  height: 33px;
  margin-left: -130px;
  margin-top: 150px;
  -webkit-animation: ripples 3s infinite ease-in-out;
          animation: ripples 3s infinite ease-in-out;
}

li > a.front:hover {
  -webkit-animation: sailing 1s infinite;
          animation: sailing 1s infinite;
}

div.ocean {
  background-image: url("/images/Ocean_top.png");
  background-size: contain;
  height: 187px;
  margin-top: -120px;
  -webkit-animation: waves_calm 5s infinite alternate ease-in-out;
          animation: waves_calm 5s infinite alternate ease-in-out;
}
/*# sourceMappingURL=index.css.map */