@font-face {
  font-family: 'jf-openhuninn-1.0';
  src: url(../font/jf-openhuninn-1.0.woff) format("woff");
  src: url(../font/jf-openhuninn-1.0.ttf) format("truetype");
}

* {
  font-family: 'jf-openhuninn-1.0';
}

.section1.bg {
  background: url(../images/shortbg.png) left top;
}

.section1 {
  background: url(../images/shortbg.png) right top;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
}

.section1 .layer1 {
  width: 60%;
  position: absolute;
  bottom: 0;
  left: 20%;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
  z-index: 500;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.section1 .layer2 {
  width: 40%;
  position: absolute;
  bottom: 0;
  right: -10%;
  z-index: 500;
}

.section1 .port {
  border-radius: 20px;
  background-color: #185c7e;
  display: inline-block;
  position: absolute;
  right: 20vh;
  bottom: 60vh;
  -webkit-animation: portname 2s ease-in infinite;
          animation: portname 2s ease-in infinite;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.section1 .port p {
  color: #fff;
  font-size: 24px;
  margin: 0;
  padding: 10px 20px;
}

@-webkit-keyframes portname {
  0%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes portname {
  0%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.section1 .layer3 {
  width: 40%;
  position: absolute;
  bottom: 20vh;
  right: -10%;
  z-index: 15;
}

.section1 .text {
  position: relative;
  top: 0;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  margin: 0 auto;
  font-size: 6em;
  color: #035;
  text-align: center;
  -webkit-animation: textJump 2s cubic-bezier(0.68, -0.6, 0.32, 1.6) backwards;
          animation: textJump 2s cubic-bezier(0.68, -0.6, 0.32, 1.6) backwards;
}

@-webkit-keyframes textJump {
  0% {
    top: 100vh;
  }
  100% {
    top: 0;
  }
}

@keyframes textJump {
  0% {
    top: 100vh;
  }
  100% {
    top: 0;
  }
}

.section1 .wave {
  width: 100%;
  background-size: 50vh 15vh;
  position: absolute;
  -webkit-animation: wave 20s linear infinite;
          animation: wave 20s linear infinite;
}

.section1 .wave1 {
  background-image: url(../images/wave2.png);
  height: 15vh;
  bottom: 17vh;
  animation-direction: reverse;
  z-index: 0;
}

.section1 .wave2 {
  background-image: url(../images/wave3.png);
  height: 15vh;
  bottom: 15vh;
  z-index: 10;
}

.section1 .wave3 {
  background-image: url(../images/wave2.png);
  height: 15vh;
  bottom: 10vh;
  animation-direction: reverse;
  z-index: 20;
}

.section1 .wave4 {
  height: 20vh;
  background-image: url(../images/wave1.png);
  background-size: 50vh 20vh;
  bottom: 0;
  z-index: 30;
}

@-webkit-keyframes wave {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes wave {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

.section1 .boat {
  position: absolute;
  bottom: 10vh;
  z-index: 50;
}

.section1 .boat img {
  width: 300px;
  position: relative;
  left: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: rotateZ(-2deg);
          transform: rotateZ(-2deg);
  -webkit-animation: boatfloat 3s infinite;
          animation: boatfloat 3s infinite;
}

@-webkit-keyframes boatfloat {
  0% {
    -webkit-transform: rotateZ(-2deg);
            transform: rotateZ(-2deg);
  }
  50% {
    -webkit-transform: rotateZ(2deg);
            transform: rotateZ(2deg);
  }
  100% {
    -webkit-transform: rotateZ(-2deg);
            transform: rotateZ(-2deg);
  }
}

@keyframes boatfloat {
  0% {
    -webkit-transform: rotateZ(-2deg);
            transform: rotateZ(-2deg);
  }
  50% {
    -webkit-transform: rotateZ(2deg);
            transform: rotateZ(2deg);
  }
  100% {
    -webkit-transform: rotateZ(-2deg);
            transform: rotateZ(-2deg);
  }
}

.section1 img.flyfish1 {
  width: 100px;
  position: relative;
  bottom: -100vh;
  left: 200px;
  -webkit-transform: rotateZ(60deg);
          transform: rotateZ(60deg);
}

.section1 img.flyfish2 {
  width: 100px;
  position: relative;
  bottom: -100vh;
  left: 300px;
  -webkit-transform: rotateZ(20deg);
          transform: rotateZ(20deg);
}

.section1 img.flyfish3 {
  width: 100px;
  position: relative;
  bottom: -100vh;
  left: 450px;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.section1 img.fly1 {
  -webkit-animation: fishfly1 2s ease-in-out;
          animation: fishfly1 2s ease-in-out;
}

.section1 img.fly2 {
  -webkit-animation: fishfly1 2s ease-in-out;
          animation: fishfly1 2s ease-in-out;
}

.section1 img.fly3 {
  -webkit-animation: fishfly1 2s ease-in-out;
          animation: fishfly1 2s ease-in-out;
}

@-webkit-keyframes fishfly1 {
  0% {
    bottom: -100vh;
    -webkit-transform: rotateZ(60deg);
            transform: rotateZ(60deg);
  }
  25% {
    -webkit-transform: rotateZ(100deg);
            transform: rotateZ(100deg);
  }
  50% {
    bottom: 0;
    -webkit-transform: rotateZ(230deg);
            transform: rotateZ(230deg);
  }
  75% {
    -webkit-transform: rotateZ(250deg);
            transform: rotateZ(250deg);
  }
  100% {
    bottom: -100vh;
    -webkit-transform: rotateZ(270deg);
            transform: rotateZ(270deg);
  }
}

@keyframes fishfly1 {
  0% {
    bottom: -100vh;
    -webkit-transform: rotateZ(60deg);
            transform: rotateZ(60deg);
  }
  25% {
    -webkit-transform: rotateZ(100deg);
            transform: rotateZ(100deg);
  }
  50% {
    bottom: 0;
    -webkit-transform: rotateZ(230deg);
            transform: rotateZ(230deg);
  }
  75% {
    -webkit-transform: rotateZ(250deg);
            transform: rotateZ(250deg);
  }
  100% {
    bottom: -100vh;
    -webkit-transform: rotateZ(270deg);
            transform: rotateZ(270deg);
  }
}

@-webkit-keyframes fishfly2 {
  0% {
    bottom: -100vh;
    -webkit-transform: rotateZ(20deg);
            transform: rotateZ(20deg);
  }
  25% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  50% {
    bottom: -10vh;
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
  75% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    bottom: -100vh;
    -webkit-transform: rotateZ(15deg);
            transform: rotateZ(15deg);
  }
}

@keyframes fishfly2 {
  0% {
    bottom: -100vh;
    -webkit-transform: rotateZ(20deg);
            transform: rotateZ(20deg);
  }
  25% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  50% {
    bottom: -10vh;
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
  75% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    bottom: -100vh;
    -webkit-transform: rotateZ(15deg);
            transform: rotateZ(15deg);
  }
}

@-webkit-keyframes fishfly3 {
  0% {
    bottom: -100vh;
    -webkit-transform: rotateZ(20deg);
            transform: rotateZ(20deg);
  }
  25% {
    -webkit-transform: rotateZ(80deg);
            transform: rotateZ(80deg);
  }
  50% {
    bottom: 10vh;
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  75% {
    -webkit-transform: rotateZ(250deg);
            transform: rotateZ(250deg);
  }
  100% {
    bottom: -100vh;
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes fishfly3 {
  0% {
    bottom: -100vh;
    -webkit-transform: rotateZ(20deg);
            transform: rotateZ(20deg);
  }
  25% {
    -webkit-transform: rotateZ(80deg);
            transform: rotateZ(80deg);
  }
  50% {
    bottom: 10vh;
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  75% {
    -webkit-transform: rotateZ(250deg);
            transform: rotateZ(250deg);
  }
  100% {
    bottom: -100vh;
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.section1 .captain {
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.section1 .captain img {
  width: 30%;
  position: absolute;
  top: 10vh;
  left: 50%;
}

.section1 .captain .item {
  position: absolute;
  top: 25%;
  left: 20%;
  z-index: 2;
  color: #035;
  background-color: #eaf1f6;
  padding: 20px;
  border-radius: 10px;
  z-index: 500;
}

.section1 .captain .item h3 {
  padding-bottom: 30px;
}

.section1 .captain .item .buttonGo {
  display: inline-block;
  padding: 5px 20px;
  background-color: #86d1ef;
  border-radius: 10px;
  cursor: pointer;
}

.wrapperWheel {
  display: none;
}

.wrapperBg {
  display: none;
}

.section2 {
  height: 100vh;
  overflow: hidden;
  background-color: #A3D9FD;
  position: relative;
}

.section2 .title {
  height: 30%;
  background: url(../images/cloud.svg) center no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.section2 .title h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 26px;
}

.section2 .reservation {
  width: 300px;
  height: 320px;
  color: #fff;
  background-color: #318DD6;
  border: 3px solid #fff;
  border-radius: 10px;
  margin-top: 30px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: all 1s 0.5s;
  transition: all 1s 0.5s;
}

.section2 .reservation p {
  text-align: center;
  margin: 20px;
}

.section2 .reservation .choice {
  margin: 20px 0 0 30px;
}

.section2 .reservation .choice span {
  display: inline-block;
  margin-right: 10px;
}

.section2 .reservation .button {
  width: 100px;
  margin: 20px auto;
  padding: 5px 10px;
  background-color: #130B6E;
  text-align: center;
  border-radius: 10px;
}

.section2 .datetable {
  height: 100vh;
  opacity: 0;
  -webkit-transition: all 1s 1s;
  transition: all 1s 1s;
  z-index: 1;
}

.section2 .datetable table {
  border-collapse: collapse;
  background-color: #d8ecf9;
  border-radius: 5px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.section2 .datetable table th,
.section2 .datetable table td {
  text-align: center;
  font-size: 14px;
  width: 60px;
  padding: 5px 5px;
}

.section2 .map img {
  width: 100vw;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.wrapperBg {
  background: url(../images/oceanbottom.jpg) center top;
  background-size: cover;
  height: 100%;
}

.section3 {
  overflow: hidden;
  height: 100vh;
}

.section3 .title {
  margin-top: 30px;
  height: 80px;
  background: url(../images/titlebg.svg) center no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section3 .title h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #f3f0f0;
  font-size: 22px;
}

.section3 .row2 {
  height: 80vh;
}

.section3 .menucontainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.section3 .menucontainer .menu {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  margin-right: 30px;
  border-radius: 5px;
  background-color: #4EB6E6;
  padding-top: 10px;
}

.section3 .menucontainer .menu .imgbox {
  position: relative;
}

.section3 .menucontainer .menu .imgbox h4 {
  text-align: center;
  font-size: 20px;
  margin: 20px;
  color: #034;
}

.section3 .menucontainer .menu .imgbox img {
  margin: 0 auto;
  display: block;
  width: 70%;
}

.section3 .menucontainer .menu .text {
  margin: 10px auto;
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.section3 .menucontainer .menu .text h4 {
  font-size: 20px;
}

.section3 .menucontainer .menu .text p {
  font-size: 16px;
  margin: 0;
}

.section3 .menucontainer .menu1 {
  -webkit-animation: menufloat1 3s ease-in infinite;
          animation: menufloat1 3s ease-in infinite;
}

.section3 .menucontainer .menu2 {
  -webkit-animation: menufloat2 2.5s ease-in infinite;
          animation: menufloat2 2.5s ease-in infinite;
}

.section3 .menucontainer .menu3 {
  -webkit-animation: menufloat1 2.5s ease-in infinite;
          animation: menufloat1 2.5s ease-in infinite;
}

.section3 .menucontainer .menu:hover .imgbox {
  top: 0%;
}

.section3 .menucontainer .menu:hover .imgbox h4 {
  display: none;
}

.section3 .menucontainer .button {
  width: 100px;
  margin: 20px auto;
  padding: 5px 10px;
  background-color: #130B6E;
  color: #fff;
  text-align: center;
  border-radius: 10px;
}

@-webkit-keyframes menufloat1 {
  0%,
  100% {
    top: 0px;
  }
  50% {
    top: 10px;
  }
}

@keyframes menufloat1 {
  0%,
  100% {
    top: 0px;
  }
  50% {
    top: 10px;
  }
}

@-webkit-keyframes menufloat2 {
  0%,
  100% {
    top: 0px;
  }
  50% {
    top: -10px;
  }
}

@keyframes menufloat2 {
  0%,
  100% {
    top: 0px;
  }
  50% {
    top: -10px;
  }
}

.section3 .waiter img {
  width: 80%;
  right: 30%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.section4 {
  height: 100vh;
  overflow: hidden;
}

.section4 .row1 .title {
  margin-top: 30px;
  height: 80px;
  background: url(../images/titlebg.svg) center no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section4 .row1 .title h2 {
  font-size: 22px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #f3f0f0;
}

.section4 .row1 .text {
  margin-top: 20px;
  color: #fff;
  display: inline-block;
}

.section4 .row1 .text p {
  margin: 0;
  padding: 5px;
}

.section4 .row2 .step,
.section4 .row3 .step {
  margin: 0 auto;
  background-color: #318DD6;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 12px;
}

.section4 .row2 .step p,
.section4 .row3 .step p {
  color: #fff;
  margin: 5px;
}

.section4 .row2 .game,
.section4 .row3 .game {
  margin-top: 20px;
  height: 400px;
  background-color: #e0f1fc;
  border: 1px solid #000;
}

.section4 .row2 .game img,
.section4 .row3 .game img {
  width: 100%;
}

.section4 .row2 .text,
.section4 .row3 .text {
  margin-top: 50px;
  color: #fff;
  display: inline-block;
}

.section4 .row2 .text p,
.section4 .row3 .text p {
  margin: 0;
  padding: 5px;
}

.section4 .row2 .button,
.section4 .row3 .button {
  margin: 20px auto;
  width: 80px;
  text-align: center;
  background-color: #ef915b;
  border-radius: 10px;
  padding: 5px 0;
  color: #fff;
  cursor: pointer;
}

#cookPin {
  margin-bottom: 2px;
}

.section5 {
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: 90vh;
  overflow: hidden;
}

.section5 .step {
  margin: 0 auto;
  background-color: #318DD6;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 12px;
}

.section5 .step p {
  color: #fff;
  margin: 5px;
}

.section5 .text {
  margin-top: 50px;
  color: #fff;
  display: inline-block;
}

.section5 .text p {
  margin: 0;
  padding: 5px;
}

.section5 .button {
  margin: 20px auto;
  width: 80px;
  text-align: center;
  background-color: #ef915b;
  border-radius: 10px;
  padding: 5px 0;
  color: #fff;
  cursor: pointer;
}

.section5 .cookWrapper {
  position: relative;
  height: 80vh;
}

.section5 .cookWrapper .cookPic1 {
  position: absolute;
  top: 0vh;
  right: 5vh;
}

.section5 .cookWrapper .cookPic2 {
  position: absolute;
  top: 15vh;
  right: 10vh;
}

.section5 .cookWrapper .cookPic3 {
  position: absolute;
  top: 20vh;
  right: 30vh;
}

.section5 .cookWrapper .cookPic4 {
  position: absolute;
  top: 35vh;
  right: 25vh;
}

.section5 .cookWrapper .cookPic5 {
  position: absolute;
  top: 50vh;
  right: 5vh;
}

.section5 .cookWrapper .cookPic6 {
  position: absolute;
  top: 60vh;
  right: 30vh;
}

.section5 .cookWrapper .cookPic7 {
  position: absolute;
  top: 70vh;
  right: 10vh;
}

.section5 .cookWrapper img {
  width: 100px;
}

.section5 .cookWrapper .cookPic4 img {
  width: 100px;
}

.section5 .half img {
  height: 80vh;
}

.section6 {
  overflow: hidden;
}

.section6 .title {
  margin-top: 30px;
  height: 80px;
  background: url(../images/titlebg.svg) center no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section6 .title h2 {
  font-size: 22px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #f3f0f0;
}

.section6 .text {
  color: #fff;
}

.section6 .text p {
  margin: 0;
  padding: 5px;
}

.section6 .button {
  margin: 20px auto;
  width: 80px;
  text-align: center;
  background-color: #ef915b;
  border-radius: 10px;
  padding: 5px 0;
  color: #fff;
  cursor: pointer;
}

.section6 .contest .cook {
  color: #fff;
  text-align: center;
}

.section6 .contest .cook img {
  width: 100%;
}

.section6 .contest .cook .button {
  background-color: #a7d4eb;
  color: #333;
}

.section6 .contest .cook1 {
  position: relative;
  bottom: -80px;
}

.section6 .contest .cook3 {
  position: relative;
  bottom: -120px;
}

.section6 .contest .box {
  width: 60%;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */