@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "jf-openhuninn-1.0";
  font-family: "NaikaiFont-Regular.ttf";
  src: url(../font/jf-openhuninn-1.0.woff) format("woff");
  src: url(../font/jf-openhuninn-1.0.ttf) format("truetype");
  src: url(../font/NaikaiFont-Regular.ttf);
}

body {
  font-family: "jf-openhuninn-1.0";
}

h1 {
  font-size: 32px;
  font-family: "NaikaiFont-Regular.ttf";
  text-align: center;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

.mobile_header {
  display: none;
}

.pu_head_wrap_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
}

.pu_head_wrap_div .pu_logo_a {
  width: 20%;
  text-align: center;
  padding-top: 1%;
  display: block;
}

.pu_head_wrap_div .pu_head_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.pu_head_wrap_div .pu_head_ul .pu_head_li {
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.pu_head_wrap_div .pu_head_ul .pu_head_li .pu_text_a {
  color: #01355D;
  text-decoration: none;
  padding: 5px 0;
  font-size: 20px;
  letter-spacing: 1px;
}

.pu_head_wrap_div .pu_mem_login_div_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.pu_head_wrap_div .pu_mem_login_div_wrap .pu_mem_login_div {
  font-size: 16px;
  margin-right: 5%;
  white-space: nowrap;
  letter-spacing: 1px;
}

.pu_head_wrap_div .pu_mem_login_div_wrap .pu_icon_div {
  width: 30px;
}

.pu_head_wrap_div .pu_mem_login_div_wrap .pu_icon_div img {
  max-width: 100%;
}

.pu_head_wrap_div::after {
  content: "";
  background-image: url("/images/cloud.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  bottom: auto;
  height: 150px;
  width: 100%;
  z-index: -1;
}

.pu_flow-wave {
  background: radial-gradient(circle at 10px -7px, transparent 8px, currentColor 8px, currentColor 9px, transparent 9px) repeat-x, radial-gradient(circle at 10px 27px, transparent 8px, currentColor 8px, currentColor 9px, transparent 9px) repeat-x;
  background-size: 20px 20px;
  background-position: -10px calc(100% + 16px), 0 calc(100% - 4px);
}

.pu_flow-wave:hover {
  -webkit-animation: pu_waveFlow 1s infinite linear;
          animation: pu_waveFlow 1s infinite linear;
}

@-webkit-keyframes pu_waveFlow {
  from {
    background-position-x: -10px, 0;
  }
  to {
    background-position-x: -30px, -20px;
  }
}

@keyframes pu_waveFlow {
  from {
    background-position-x: -10px, 0;
  }
  to {
    background-position-x: -30px, -20px;
  }
}

.pu_h1_div {
  position: relative;
  width: 100%;
  margin: 5% auto;
}

.pu_h1_div .pu_h1_img {
  max-width: 100%;
}

.pu_h1_div .pu_div_text {
  position: absolute;
  bottom: 25%;
  right: 0;
  left: 0;
  letter-spacing: 1px;
}

@media all and (max-width: 1200px) {
  .pu_h1_div {
    position: relative;
    margin: 5% auto;
    width: 80%;
    font-size: 24px;
  }
  .pu_h1_div .pu_h1_img {
    max-width: 100%;
  }
  .pu_h1_div .pu_div_text {
    position: absolute;
    bottom: 25%;
    right: 0;
    left: 0;
    letter-spacing: 1px;
  }
}

@media all and (max-width: 991px) {
  .pu_h1_div {
    position: relative;
    margin: 5% auto;
    width: 80%;
    font-size: 24px;
  }
  .pu_h1_div .pu_h1_img {
    max-width: 100%;
  }
  .pu_h1_div .pu_div_text {
    position: absolute;
    bottom: 25%;
    right: 0;
    left: 0;
    letter-spacing: 1px;
  }
}

@media all and (max-width: 767px) {
  .desktop_header {
    display: none;
  }
  .mobile_header {
    display: block;
    position: relative;
  }
  .mobile_header .pu_mb_logo_a {
    position: relative;
    z-index: 5;
    display: block;
    width: 10%;
    margin: 5px 0 0 5px;
  }
  .mobile_header .pu_mb_logo_a img {
    max-width: 100%;
  }
  .mobile_header .mb_sma_cloud .mb_sma_cloud_img {
    position: absolute;
    right: -5px;
    top: -10px;
    z-index: 2;
  }
  .mobile_header .mb_sma_cloud .mb_big_cloud_img_div {
    position: absolute;
    right: -770px;
    top: -5px;
    z-index: 1;
    display: none;
  }
  .mobile_header .mb_sma_cloud .mb_big_cloud_img_div .mb_big_cloud_text {
    position: absolute;
    z-index: 5;
    top: 10%;
    left: 50%;
  }
  .mobile_header .mb_sma_cloud .mb_big_cloud_img_div .mb_big_cloud_text .pu_mb_text_a {
    color: #01355D;
    text-decoration: none;
    line-height: 5;
    letter-spacing: 1px;
    padding: 5px 0;
    font-size: 19.2px;
  }
  .mobile_header .mb_sma_cloud .burger {
    position: absolute;
    z-index: 10;
    right: 10px;
    top: 5px;
    cursor: pointer;
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .mobile_header .mb_sma_cloud .burger span {
    display: block;
    width: 33px;
    height: 3px;
    margin-bottom: 7px;
    position: relative;
    background: #01355D;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.25s ease, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.25s ease, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.25s ease;
    transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.25s ease, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .mobile_header .mb_sma_cloud .burger span:last-child {
    margin-bottom: 0;
  }
  .mobile_header .burger--close span:nth-child(1) {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(5px, 0px);
            transform: rotate(45deg) translate(5px, 0px);
  }
  .mobile_header .burger--close span:nth-child(2) {
    opacity: 0;
    -webkit-transform: translateX(10px) scale(0, 0);
            transform: translateX(10px) scale(0, 0);
  }
  .mobile_header .burger--close span:nth-child(3) {
    opacity: 1;
    -webkit-transform: rotate(-45deg) translate(0px, 2px);
            transform: rotate(-45deg) translate(0px, 2px);
  }
  .mobile_header .burger--close {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .pu_h1_div {
    position: relative;
    margin: 5% auto;
    width: 80%;
    font-size: 20px;
    z-index: -1;
  }
  .pu_h1_div .pu_h1_img {
    max-width: 100%;
  }
  .pu_h1_div .pu_div_text {
    position: absolute;
    bottom: 25%;
    right: 0;
    left: 0;
    letter-spacing: 1px;
  }
}

@media all and (max-width: 576px) {
  .pu_h1_div {
    position: relative;
    margin: 5% auto;
    width: 80%;
    font-size: 16px;
    z-index: -1;
  }
  .pu_h1_div .pu_h1_img {
    max-width: 100%;
  }
  .pu_h1_div .pu_div_text {
    position: absolute;
    bottom: 25%;
    right: 0;
    left: 0;
    letter-spacing: 1px;
  }
}

body {
  width: 1280px;
  /*background: radial-gradient(ellipse at top, #FEFFDB,#9cd6ff, #48c6e4);*/
  background-image: url(../images/色塊-4-01.jpg);
  background-size: cover;
}

#header {
  border: 1px solid maroon;
  margin: 0 auto;
}

div.theForm {
  border: 1px solid red;
  display: inline-block;
  width: 1000px;
  background-color: rgba(255, 255, 255, 0.75);
  margin-left: 10%;
}

ul > li {
  border: 1px solid goldenrod;
}

li > pre.bar {
  background-color: #001871;
  color: white;
  padding: 10px;
}

div.DT {
  padding: 30px;
}

select {
  margin-right: 150px;
}

div.DT > input {
  width: 100px;
}

div.meal {
  padding: 30px;
}

div.meal > img {
  width: 150px;
}

div.meal > span {
  vertical-align: top;
}

div.meal > div {
  -webkit-transform: translate(17%, -300%);
          transform: translate(17%, -300%);
}

div.num > input {
  width: 50px;
  -webkit-transform: translate(1000%, -430%);
          transform: translate(1000%, -430%);
}

div.deleteBTN01 {
  border: 1px solid red;
  color: maroon;
  display: inline-block;
  font-size: 30px;
  float: right;
  margin-top: -120px;
  margin-right: 280px;
}

div.clear {
  clear: both;
}

div.price {
  border: 1px solid red;
  display: inline-block;
}
/*# sourceMappingURL=order_detail.css.map */