*{
    /* font-size: 0; */
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    text-decoration: none;
}
/* header */
header{
    width: 100%;
    display: flex;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 100;
}
.with-logo{
    width: 90%;
}
.with-logo .logo{
    background-color:aquamarine;
    width: 100px;
    height: 100px;
}
.with-logo .logo .img{
    text-align: center;
    font-size: 20px;
}
/* 登出 */
.member-control{
    width: 10%;
    margin: auto;
    text-align: center;
    font-size: 16px;
}

.container{
    margin-top: 100px;
    width: 100%;
    display: flex;
}

/* 側邊nav */
nav{
    background-color: blanchedalmond;
    width: 230px;
    font-size: 16px;
    height: calc(100vh - 100px);
    overflow-y: scroll;
}
nav ul{
    margin: auto;
}
nav ul li{
    width: 100%;

    border-bottom: 1px solid seagreen;
}
nav ul li a{
    padding: 20px 20px 20px 50px;
    display: block;
}
/* 內頁 */
main{
    width: calc(100vw - 250px);
}
.now-page{
   width: 100%;
   height: 45px; 
   background: royalblue;
   padding: 12px 20px;
}
.now-page ol{
    display: flex;
}
.now-page ol li:nth-child(2){
    margin-left: 10px;
}
.now-page ol li:nth-child(2)::before{
    content: "/";
    display: inline-block;
    padding-right: 5px;
}
ol a{
    color: whitesmoke;
}

.page-content{
    width: 100%;
    overflow-y: auto;
    padding: 50px;
    text-align: center;
}
table{
    text-align: center;
    width: 100%;
}
table, tr{
    border: 1px solid darkslategrey;
    border-collapse: collapse;
}
th{
    background: aliceblue;
}
td{
    padding: 10px;
}
/* 大頭貼 */
.bigimg{
    background-color: lightsteelblue;
}
/* 狀態 */
.yesNo div:first-child{
    width: 45px;
    height: 25px;
    background-color: limegreen;
    border-radius: 50px;
    position: relative;
}
.yesNo div:first-child::before{
    content: "";
    width: 25px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    display: block;
    position: absolute;
    right: 0;
    border-radius: 50%;
}
tr:nth-child(4) td:nth-child(9) div:first-child::before{
    left: 0;
}
.yesNo div{
    display: inline-block;
    margin: auto;
    vertical-align: middle;
}

.pagination{
    margin: auto;
    margin-top: 200px;
}
.pagination ul{
    display: flex;
    width: fit-content;
    margin: auto;
}
.pagination ul li{
    padding: 10px;
    display: inline-block;
    width: 41px;
    border: 1px solid black;
}
.pagination ul li:first-child{
    border-radius: 10px 0 0 10px;
}
.pagination ul li:last-child{
    border-radius: 0 10px 10px 0;
}
.addBtn{
    padding-left: 85%;
    padding-bottom: 2%;
}


