* {
    margin: 0;
    padding: 0;
    font-size: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'jf-openhuninn-1.0';
    src: url(../font/jf-openhuninn-1.0.woff) format("woff");
    src: url(../font/jf-openhuninn-1.0.ttf) format("truetype");
}

body {
    font-family: 'jf-openhuninn-1.0';
    background: linear-gradient(#abdcfa,#11408c);
}

header {
    width: 100%;
    height: 100px;
    font-size: 40px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 10;
    /* border: 1px solid red; */
}

footer {
    width: 100%;
    height: 100px;
    font-size: 40px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}

/* ------------ ranking 開始 ---------------*/
.ranking {
    padding-top: 100px;
    margin-bottom: 70px;
}

.wrap {
    padding: 0 20px;
    margin: auto;
    max-width: 1200px;
}

.ranking_title{
    padding-top: 60px;

    h1 {
        font-size: 50px;
        text-align: center;
    }
}

.contain .ranking_item {
    display: inline-block;
    width: 340px;
    margin: 0 20px 0px 20px;
    // border: 1px solid rgb(0, 0, 0);

    .ranking_bg{
        // background-image: url(../image/cookList_item_bg.png);
        background-image: url(../images/cookList_item_bg.png);
        border-radius: 10px;
        padding-top: 10px;
        padding-bottom: 20px;
        // border: 1px solid red;
    }
}
.contain .ranking_item:nth-child(1),.contain .ranking_item:nth-child(3){
    position: relative;
    top: 100px;
    margin-bottom: 200px;
}

.contain .ranking_item .cookList_img{
    // border: 1px solid red;

    .cookList_cook{
        margin: 0px auto 0px auto;
        width: 340px;
        position: relative;
        top: 70px;
        // border: 1px solid rgb(243, 243, 13);
    
        img {
            width: 100%;
            // border: 1px solid red;
        }
    
        figcaption {
            margin-bottom: 20px;
            // border: 1px solid red;
        }
    
        p {
            font-size: 28px;
            color: #000000;
            text-align: center;
        }
    
        p:nth-child(2){
            font-size: 20px;
            color: #4669e6;
        }
    
        p:nth-child(3){
            font-size: 14px;
            color: #4e4e4e;
            margin-top: 10px;
        }
    }

    .barrel{
        width: 250px;
        margin: auto;
        margin-bottom: 20px;

        img{
            width: 100%;
        }
    }
}

.contain .ranking_item .ranking_bg .cookList_infoPanel{
    // text-align: center;
    // border: 1px solid red;
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    a{
        display: inline-block;
        text-decoration: none;
        background-color: #001871;
        border-radius: 10px;
        margin: 10px 0;
        // border: 1px solid yellow;
    }

    a:nth-child(2){
        background-color: #4EB6E6;
    }

    span{
        text-align: center;
        display: inline-block;
        font-size: 16px;
        color: #ffffff;
        width: 130px;
        padding: 10px;
    }
}

.contain .ranking_item .ranking_bg .icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    // border: 1px solid rgb(253, 34, 34);

    .message, .favorite{
        width: 35px;
        cursor: pointer;
    }
    span{
        font-size: 16px;
        margin: 0 20px 0px 5px;
    }
}

.contain .ranking_item .ranking_bg .msg{
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
    width: 300px;
    margin: 0 auto 0px auto;
    border: 1px solid lightskyblue;
    box-shadow: 1px 1px 1px  rgb(183, 227, 255);

    .big{
        font-size: 20px;
        text-align: center;
        color: #ffffff;
        padding: 10px;
        background-color: #001871;
    }

    img{
        width: 50px;
        vertical-align: middle;
    }

    p{
        font-size: 16px;
        padding: 10px;
        
    }

    .more{
        text-align: center;
        padding-bottom: 15px;
        // border: 1px solid red;

        a{
            display: inline-block;
            background-color: #4EB6E6;
            border-radius: 10px;
            // border: 1px solid red;
        }
    
        span{
            text-align: center;
            display: inline-block;
            font-size: 16px;
            color: #ffffff;
            width: 130px;
            padding: 10px 10px;
        }
    }

}

/* ------------ ranking 結束 ---------------*/


/* ------------ aboutContest 開始 ---------------*/
.aboutContest{
    margin-bottom: 70px;
}

.event{
    display: inline-block;
    width: 630px;
    background-color: #e0f1fc;
    border-radius: 50px;
    padding: 40px;
    /* border: 1px solid blue; */

}

.event .aboutContest_title{
    margin-bottom: 30px;

    p{
        font-size: 40px;
        text-align: center;
    }
}

.event .description .text{
    margin-bottom: 10px;
    img{
        width: 60px;
        margin-right: 30px;
        vertical-align: top;
    }
    span{
        font-size: 20px;
        color: #4669e6;
        margin-right: 30px;
        vertical-align: top;
    }
    p{
        display: inline-block;
        width: 340px;
        font-size: 20px;
        vertical-align: top;
    }
}

.eventImg{
    display: inline-block;
    width: 520px;
    /* border: 1px solid red; */
    vertical-align: top;
}

.eventImg .board{
    display: inline-block;
    width: 250px;
    height: 80px;
    background-image: url(../images/Path315.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 30px;
    left: 85px;
    vertical-align: top;
}

.eventImg .board a{
    display: inline-block;
}

.eventImg .board p{
    width: 185px;
    padding: 15px 15px 15px 20px;
    font-size: 20px;
    color: #001871;
}

.eventImg .character{
    display: inline-block;
}

.eventImg .character img{
    width: 230px;
    
}

/* ------------ aboutContest 結束 ---------------*/


/* ------------ cookList 開始 ---------------*/

.cookList{
    margin-bottom: 70px;
    .cookList_title{
        padding-top: 60px;
    
        h1 {
            font-size: 50px;
            text-align: center;
        }
    }
}

.filter{
    margin-top: 60px;
    margin-bottom: 40px;
}

.filter select{
    font-family: 'jf-openhuninn-1.0';
    font-size: 20px;
    color: #ffffff;
    background-color: #4EB6E6;
    padding: 10px;
    border-radius: 10px;
    border: transparent;
}

.contain .cookList_item {
    display: inline-block;
    width: 340px;
    margin: 0 20px 70px 20px;
    background-image: url(../images/cookList_item_bg.png);
    border-radius: 10px;
    // border: 2px solid rgb(3, 129, 41);

    .cookList_img{
        .cookList_cook{
            margin: 20px auto 0 auto;
            width: 300px;
        
            img {
                width: 100%;
                // border: 1px solid red;
            }
        
            figcaption {
                margin-top: 20px;
                // border: 1px solid red;
            }
        
            p {
                font-size: 28px;
                color: #000000;
                text-align: center;
            }
        
            p:nth-child(2){
                font-size: 20px;
                color: #4669e6;
            }
        
            p:nth-child(3){
                font-size: 14px;
                color: #4e4e4e;
                margin-top: 10px;
            }
        }
    }

    .cookList_infoPanel{
        // text-align: center;
        // border: 1px solid red;
        width: 300px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    
        a{
            display: inline-block;
            text-decoration: none;
            background-color: #001871;
            border-radius: 10px;
            margin: 10px 0;
            // border: 1px solid yellow;
        }
    
        a:nth-child(2){
            background-color: #4EB6E6;
        }
    
        span{
            text-align: center;
            display: inline-block;
            font-size: 16px;
            color: #ffffff;
            width: 130px;
            padding: 10px;
        }
    }

    .icon{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 10px;
        // border: 1px solid rgb(253, 34, 34);
    
        .message, .favorite{
            width: 35px;
            cursor: pointer;
        }
        span{
            font-size: 16px;
            margin: 0 20px 0px 5px;
        }
    }

    .msg{
        background-color: #ffffff;
        border-radius: 0 0 10px 10px;
        width: 300px;
        margin: 0 auto 30px auto;
        border: 1px solid lightskyblue;
        box-shadow: 1px 1px 1px  rgb(183, 227, 255);
    
        .big{
            font-size: 20px;
            text-align: center;
            color: #ffffff;
            padding: 10px;
            background-color: #001871;
        }
    
        img{
            width: 50px;
            vertical-align: middle;
        }
    
        p{
            font-size: 16px;
            padding: 10px;
            
        }
    
        .more{
            text-align: center;
            padding-bottom: 15px;
            // border: 1px solid red;
    
            a{
                display: inline-block;
                background-color: #4EB6E6;
                border-radius: 10px;
                // border: 1px solid red;
            }
        
            span{
                text-align: center;
                display: inline-block;
                font-size: 16px;
                color: #ffffff;
                width: 130px;
                padding: 10px 10px;
            }
        }
    
    }
}


/* ------------ cookList 結束 ---------------*/


/*------------------ 頁碼開始 ----------------*/

.page-normal {
	
	margin: 50px auto 50px auto;
	text-align: center;
}

.page-normal a {
	/* border: 1px solid rgb(201, 1, 75); */
	padding: 5px 7px;
	font-size: 16px;
	color: #4EB6E6;
	text-decoration: none;
}

.page-normal a:hover {
    color: #ffffff;
    background-color: #4EB6E6;
}


.page-normal .page-current {
	font-size: 16px;
	color: #ffffff;
	background-color: #4EB6E6;
}

.page-normal .page-prev {
	font-size: 16px;
	color: #4EB6E6;
}

.page-normal a,
.page-normal a:hover,
.page-normal .page-prev,
.page-normal .page-current {
	border: 1px solid #4EB6E6;
	padding: 5px 7px;
}

/*------------------ 頁碼結束 ----------------*/



/*------------------ 查看詳情 ----------------*/
.look{
    margin-bottom: 100px;
    .wrap{
        width: 500px;
        padding-top: 40px;
        padding-bottom: 40px;
        margin: auto;
        border-radius: 10px;
        background-image: url(../images/look_bg.jpg);
        position: relative;

        .cross{
            display: inline-block;
            width: 40px;
            position: absolute;
            right: 10px;
            top: 10px;

            img{
                width: 100%;
            }

        }

        .look_img{
            width: 400px;
            margin: 0 auto 20px auto;
            // border: 1px solid red;

            p{
                text-align: center;
                font-size: 35px;
                margin-bottom: 10px;
            }
            img{
                width: 100%;
            }
        }

        .food{
            width: 400px;
            margin: auto;
            padding-bottom: 20px;
            border-bottom: 1px dashed rgb(88, 88, 88);

            span{
                font-size: 20px;
                margin-right: 93px;
            }

            p{
                display: inline-block;
                width: 120px;
                font-size: 20px;
            }

            .pic{
                display: inline-block;
                width: 70px;
                vertical-align: middle;

                img{
                    width: 100%;
                }
            }
        }

        .Ingredients{
            width: 400px;
            margin: auto;
            padding-top: 20px;

            span{
                font-size: 20px;
                margin-right: 93px;
            }

            p{
                display: inline-block;
                width: 120px;
                font-size: 20px;
            }

            .pic{
                display: inline-block;
                width: 70px;
                vertical-align: middle;

                img{
                    width: 100%;
                }
            }
        }

        .Ingredients_bottom{
            width: 400px;
            margin: auto;
            padding-top: 20px;
            padding-bottom: 20px;

            span{
                font-size: 20px;
                margin-right: 93px;
            }

            p{
                display: inline-block;
                width: 120px;
                font-size: 20px;
            }

            .pic{
                display: inline-block;
                width: 70px;
                vertical-align: middle;

                img{
                    width: 100%;
                }
            }
        }

        

        .cooking_way{
            width: 400px;
            margin: auto;
            padding-top: 20px;
            border-top: 1px dashed rgb(88, 88, 88);

            span{
                font-size: 20px;
                margin-right: 93px;
            }

            p{
                display: inline-block;
                width: 120px;
                font-size: 20px;
            }

            .pic{
                display: inline-block;
                width: 70px;
                vertical-align: middle;

                img{
                    width: 100%;
                }
            }
        }
    }
}

/*------------------ 查看詳情結束 ----------------*/

/*------------------ 完成投票提示 ----------------*/

.vote{
    display: inline-block;
    width: 630px;
    background-color: #e0f1fc;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    margin: 0 auto 100px 400px;
    p{
        font-size: 16px;

        span{
            font-size: 18px;
            color: rgb(255, 102, 0);
        }
    }
}
/*------------------ 完成投票提示結束 ----------------*/
