@import "base/var";

* {
    box-sizing: border-box;
}
body{
    background: url(../images/色塊-3-01.jpg) no-repeat top/cover;
}

.container {
    width: 100%;
    display: block;
    overflow: hidden;
}

/* main區域 */
main {
    position: relative;
    margin: 0 auto;
}

// main::before {
//     top: -500px;
//     right: -100px;
//     background-color: rgba(250, 208, 91, 0.863);
//     transform: rotate(35deg);
//     transform-origin: center;
//     position: absolute;
//     z-index: -1;
//     content: '';
//     width: 100%;
//     height: 1000px;
//     box-sizing: border-box;
// }

.intro {
    font-size: 20px;
    text-align: center;
    padding: 50px 0;
    margin-bottom: 50px;
    >p {
        margin-bottom: 30px;
    }
}

@keyframes note_move1{
    0% {
        -webkit-transform-origin: top;
                transform-origin: top;
        left: -18.75%;
        top: -45px;
    }
    33% {
        left: 6.625%;
        top: -17px;
        -webkit-transform: rotate(8deg);
        transform: rotate(8deg);
    }
    // 31%{
     
    //     -webkit-transform: rotate(-5deg);
    //     transform: rotate(-5deg);
    // }
    // 32%{
    //     -webkit-transform: rotate(3deg);
    //     transform: rotate(3deg);
    // }
    // 33%{
    //     left: 6.625%;
    //     -webkit-transform: rotate(0deg);
    //     transform: rotate(0deg);
    // }

    // 63% {
    //     left: 30.62%;
    //     top: -10px;
    //     -webkit-transform: rotate(8deg);
    //             transform: rotate(8deg);
    // }
    // 64%{
    //     -webkit-transform: rotate(-5deg);
    //     transform: rotate(-5deg);
    // }
    // 65%{
    //     -webkit-transform: rotate(3deg);
    //     transform: rotate(3deg);
    // }
    66% {
        left: 40.62%;
        top: -10px;

    }
    // 70%{
    //     top: -18px;
    // }
    // 80% {
    //     left: 65.625%;
    //     top: -50px;
    // }

    99%{
        top: -110px;
    }
    100% {
        left: 98%;
        top: -110px;
    }

}

@keyframes note_move2{
    0% {
        -webkit-transform-origin: top;
                transform-origin: top;
        left: -18.75%;
        top: -45px;
    }
    33% {
        left: 6.625%;
        top: -17px;
        -webkit-transform: rotate(8deg);
        transform: rotate(8deg);
    }
    // 31%{
     
    //     -webkit-transform: rotate(-5deg);
    //     transform: rotate(-5deg);
    // }
    // 32%{
    //     -webkit-transform: rotate(3deg);
    //     transform: rotate(3deg);
    // }
    // 33%{
    //     left: 6.625%;
    //     -webkit-transform: rotate(0deg);
    //     transform: rotate(0deg);
    // }

    // 63% {
    //     left: 30.62%;
    //     top: -10px;
    //     -webkit-transform: rotate(8deg);
    //             transform: rotate(8deg);
    // }
    // 64%{
    //     -webkit-transform: rotate(-5deg);
    //     transform: rotate(-5deg);
    // }
    // 65%{
    //     -webkit-transform: rotate(3deg);
    //     transform: rotate(3deg);
    // }
    66% {
        left: 40.62%;
        top: -10px;

    }
    // 70%{
    //     top: -18px;
    // }
    // 80% {
    //     left: 65.625%;
    //     top: -50px;
    // }

    99%{
        top: -110px;
    }
    100% {
        left: 98%;
        top: -110px;
    }

}


.upper {
    h3 {
        text-align: center;
    }

    section.choose-fish {
        width: 100%;
        height: 500px;
        margin: 100px 0 50px;
        background: url(../images/list.png) no-repeat top/contain;
        position: relative;
        display: flex;
        justify-content: space-around;
        &:hover .note{
            animation-play-state: paused;
        }
        .selected-fish::before{
            content: '';
            top: 220px;
            left: 110px;
            width: 200px;
            height: 200px;
            border: 5px solid red;
            border-radius: 100px;
            position: absolute;
            z-index: 3;
            cursor: pointer;
        }
        .note {
            width: 400px;
            height: 500px;
            background: url(../images/note.png) no-repeat top/contain;
            position: relative;
            // animation: note_move1 10s -5s linear infinite forwards;

            .note-content {
                font-size: 20px;
                position: absolute;
                top: 190px;
                left: 122px;
                cursor: pointer;

                span:nth-child(2) {
                    font-size: 16px;
                    margin-left: 30px;
                }
            }

            .fish-pic {
                border: 2px solid aqua;
                width: 60%;
                height: 200px;
                top: 240px;
                left: 102px;
                position: absolute;
                cursor: pointer;

                img{
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .note:nth-child(2) {
            background-image: url(../images/note02.png);
        }

        // .note:nth-child(3) {
        //     right: 50px;
        // }
    }
}


section.paper {
    background-color: #E3D6B3;
    width: 90%;
    display: block;
    margin: 0 auto;

    .center {
        display: flex;
    }
}

.side-left {
    width: 40%;
    height: 520px;
    border: 1px solid black;
    display: inline-block;
    padding: 0 0 0 10px;
    overflow: hidden;    
    .food-display{
        position: relative;
        width: 100%;
        img{
            width: 100%;
        }
    }
    .ingret_pos{
        width: 100px;
        height: 100px;
        position: absolute;
        border: 1px solid blue;
        cursor: move;
        z-index: 3;
    }
    .ingret_pos:nth-child(2){
        z-index: 2;
    }
    .ingret_pos:nth-child(3){
        z-index: 1;
    }
}

.side-right {
    width: 60%;
    padding: 50px 10px 0;
    display: inline-block;

    .for-phone {
        display: none;
    }

    .choose-element {
        width: 95%;
        margin: auto;
        margin-bottom: 50px;
        font-size: 24px;
        text-align: center;
        h3 {
            margin-bottom: 30px;
        }

        ul {
            display: flex;
            justify-content: space-around;

            li {
                width: 23%;
                font-size: 18px;
                border: 1px solid white;
                cursor: pointer;
                figure img {
                    width: 100%;
                    object-fit: fill;
                    object-position: center;
                }

                figure figcaption {
                    font-size: 18px;
                    text-align: center;
                }
            }
        }
    }

    .choose-cook {
        display: block;
        width: 95%;
        margin: auto;
        margin-bottom: 50px;
        font-size: 24px;
        text-align: center;
        cursor: pointer;
        h3 {
            margin: 30px 0;
        }

        ul {
            display: flex;
            justify-content: space-evenly;

            li {
                width: 30%;
                font-size: 18px;
                text-align: center;
                padding: 55px;
                border: 1px solid azure;
            }
        }
    }

}

form {
    width: 90%;
    padding: 20px 10px;
    margin: 0 auto;
    text-align: center;

    .food-info {
        margin: 30px 0 20px;
        text-align: left;
        width: 100%;

        span {
            display: inline-block;
            margin-left: 20px;
            background-color: rgb(77, 77, 77);
            color: whitesmoke;
            padding: 10px;
        }

        label {
            width: 20%;
        }

        input {
            line-height: normal;
            display: block;
            margin: 10px 0 0;
            border: solid 1px #ececec;
            border-radius: 4px;
            background: #f9f9f9;
            flex: 1;
            font-size: 100%;
            height: 25px;
            padding: 25px 50px;
        }

        textarea {
            -webkit-font-smoothing: subpixel-antialiased;
            box-sizing: border-box;
            overflow: auto;
            width: 100%;
            margin: 10px 0 0;
            border: solid 1px #ececec;
            border-radius: 4px;
            background: #f9f9f9;
            height: 150px;
            padding: 25px 50px;
            resize: vertical;
            font-size: 100%;
        }
    }

    .form-control {
        h3{
            margin: 50px 0 20px;
        }
        button {
            border: transparent;
            background-color: #40B5E5;
            color: aliceblue;
            padding: 20px 50px;
            margin: 0 10px;
            border-radius: 10px;
            cursor: pointer;
        }
    }

}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, .5);
    
    /* 預設：完全透明；設定 z-index: -1 會在整個頁面的後方，看不到，才不會擋到頁面元素。 */
    opacity: 0;
    z-index: -1;
    transition: opacity 1s;
    article{
        background-color: white;
        width: 90%;
        max-width: 800px;
        border-radius: 10px;
        padding: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .close{
        background: url(../images/blue-cross-icon.png) no-repeat top/cover;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
}
.overlay.-on{
    
    /* 加上 -on 之後，Modal 漸漸出現，因為有設定 transition */
    opacity: 1;
    z-index: 1;
}
  
.overlay.-opacity-zero{
    /* 關閉 Modal 時，先讓 opacity設定0，就會慢慢變成完全透明，但這時會擋到後面的元素，所以要再移除 -on 及 -opacity-zero 這兩個 class */
    opacity: 0;
}
  

@media screen and (max-width:1200px) {
    .side-right {
        .choose-cook {
            ul {
                li {
                    padding: 50px 46px;
                }
            }
        }
    }
}

@media screen and (max-width:991px) {
    .intro {

    }

    .side-right {
        .choose-cook {
            ul {
                li {
                    padding: 33px;
                }
            }
        }
    }
}

@media screen and (max-width:767px) {
    .intro {
        font-size: 16px;
    }
    
    .upper{
        display: none;
    }
    
    .center {
        flex-wrap: wrap;

        .side-left {
            padding: 0 10px;
            width: 100%;
            height: auto;
            .food-display{
            position: relative;
            width: 100%;
                img{
                    width: 100%;
                    // position: absolute;
                }
            }
        }

        .side-right {
            width: 100%;
        }

        .for-phone {
            display: block;
            width: 100%;

            .list-block {
                ul.tab-list {
                    display: flex;
                    justify-content: space-around;

                    li {
                        display: inline-block;
                        width: 100%;

                        >a {
                            display: inline-block;
                            padding: 2% 33%;
                            border-radius: 5px 5px 0 0;
                            cursor: pointer;
                            color: aliceblue;
                            text-decoration: none;
                            text-align: center;
                            background-color: darkorange;
                            position: relative;
                            top: 2px;
                        }

                        >a.-on {
                            color: black;
                            background-color: crimson;
                        }

                        /* 將底部黑線改成白色 */
                        >a.-on::after {
                            width: 100%;
                            left: 0;
                        }
                    }
                }
            }

            /* 頁籤內容區塊 */
            .tab-contents {
                border: 1px solid black;

                .tab {
                    padding: 10px;
                    display: none;
                    background-color: bisque;
                }

                .tab.-on {
                    display: block;

                    .cabinet-top,
                    .cabinet-bottom {
                        width: 100%;
                        height: 150px;
                        // background-color: bisque;
                        position: relative;

                        ul {
                            display: flex;
                            justify-content: space-evenly;

                            li {
                                width: 33%;
                                font-size: 18px;
                                border: 1px solid white;
                                position: relative;
                                text-align: center;
                                cursor: pointer;
                                figure img {
                                    width: 100%;
                                    object-fit: fill;
                                    object-position: center;
                                }

                                figure figcaption {
                                    font-size: 18px;
                                    text-align: center;
                                }
                            }

                            // 選擇魚
                            li.tab_fish.selected::before{
                                content: "";
                                width: 90%;
                                height: 75%;
                                border-radius: 50%;
                                border:3px solid red;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                            }
                        }
                    }
            
                    .cabinet-top::before,
                    .cabinet-bottom::before {
                        bottom: 0px;
                        left: -0px;
                        background-color: peru;
                        position: absolute;
                        z-index: 1;
                        content: '';
                        width: 100%;
                        height: 20px;
                    }
                }
                .tab2 ul li{
                    padding: 45px;
                }
            }
        }

        .choose-cook,
        .choose-element {
            display: none;
        }

    }

    form {
        .food-info {
            span {
                padding: 5px;
            }

            input,
            textarea {
                padding: 2px;
            }
        }

    }
}

@media screen and (max-width:576px) {
    form {
        .form-control {
            input {
                padding: 10px 40px;
                margin: 0 5px;
            }
        }
    }
}

@media screen and (max-width:500px) {
    form {
        .form-control {
            input {
                padding: 10px 25px;
                margin: 0 5px;
            }
        }
    }
}