@import "base/var";
* {
    box-sizing: border-box;
}

body {
    background: url(../images/色塊-3-01.jpg) no-repeat top/cover;
    overflow-x: hidden;
}

<<<<<<< HEAD
//標題波浪
.pu_customized {
    background: radial-gradient(circle at 10px -7px, transparent 8px, currentColor 8px, currentColor 9px, transparent 9px) repeat-x, radial-gradient(circle at 10px 27px, transparent 8px, currentColor 8px, currentColor 9px, transparent 9px) repeat-x;
    background-size: 20px 20px;
    background-position: -10px calc(100% + 16px), 0 calc(100% - 4px);
    animation: pu_waveFlow 1s infinite linear;
}

=======
>>>>>>> MYSELF
button#go_top {
    display: none;
}

.container {
    width: 100%;
    display: block;
    overflow: hidden;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes typing {
    from {
        width: 0;
        opacity: 1;
    }
<<<<<<< HEAD
=======

>>>>>>> MYSELF
    to {
        opacity: 1;
    }
}

.attn.on {
    width: 100%;
    height: 100vh;
    display: block;
    margin: auto;
    position: absolute;
    z-index: 10;
<<<<<<< HEAD
=======

>>>>>>> MYSELF
    &:before {
        content: "";
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../images/bar.jpg) no-repeat top/cover;
        -webkit-filter: blur(2px);
        filter: blur(2px);
    }
<<<<<<< HEAD
=======

>>>>>>> MYSELF
    .people {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: inline-block;
        background: url(../images/waiter.png) no-repeat top/contain;
        width: 500px;
        height: 80vh;
        animation: fade-in 2s;
<<<<<<< HEAD
    }
=======

    }

>>>>>>> MYSELF
    .talking-here {
        background-color: rgba(255, 245, 238, 0.753);
        width: 90%;
        height: 35vh;
        position: absolute;
        bottom: 3vh;
        left: 50%;
        transform: translateX(-50%);
        padding: 50px;
        opacity: 0;
        border-radius: 10px;
        box-shadow: 5px 5px 0 rgb(251, 233, 65);
        border: 3px solid black;
        animation: fade-in 2s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        cursor: pointer;
<<<<<<< HEAD
=======

>>>>>>> MYSELF
        .talk {
            text-align: center;
            font-size: 30px;
            display: none;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin: auto;
            line-height: 1.6;
            // opacity: 0;
        }
<<<<<<< HEAD
        .talk.on {
            display: block;
            opacity: 1;
=======

        .talk.on {
            display: block;
            opacity: 1;

>>>>>>> MYSELF
            .yes,
            .no {
                @extend %btn;
                display: inline-block;
                padding: 10px 30px;
                vertical-align: middle;
                margin-left: 10px;
                animation: fade-in 1s;
                opacity: 0;
                animation-delay: .5s;
                animation-fill-mode: forwards;
            }
<<<<<<< HEAD
=======

>>>>>>> MYSELF
            .no {
                @extend %btn_ano;
                animation-delay: 1.3s;
            }
        }

        // .act1{
        //     width: 22.72ch;
        //     animation: typing 3.5s 5s steps(14, end) forwards;
        //     overflow: hidden;
        //     white-space: nowrap;
        // }
        // .act2{
        // }
        // .talk.act3{
        //     cursor: default;
        // }
    }
<<<<<<< HEAD
=======

>>>>>>> MYSELF
}


/* main區域 */

main {
    position: relative;
    margin: 0 auto;
    display: none;
}

main.on {
    display: block;
}

// main::before {
//     top: -500px;
//     right: -100px;
//     background-color: rgba(250, 208, 91, 0.863);
//     transform: rotate(35deg);
//     transform-origin: center;
//     position: absolute;
//     z-index: -1;
//     content: '';
//     width: 100%;
//     height: 1000px;
//     box-sizing: border-box;
// }
.intro {
    font-size: 20px;
    text-align: center;
    padding: 50px 0;
    margin-bottom: 50px;

    >p {
        margin-bottom: 30px;
    }
<<<<<<< HEAD
=======

>>>>>>> MYSELF
    a button {
        @extend %btn_ano;
        padding: 10px;
    }
}

.upper {
    h3 {
        text-align: center;
    }
    section.choose-fish {
        width: 100%;
        height: 500px;
        margin: 100px 0 50px;
        background: url(../images/list.png) no-repeat top/contain;
        position: relative;
        display: flex;
        justify-content: space-around;

        &:hover .note {
            animation-play-state: paused;
        }

        .selected-fish::before {
            content: '';
            top: 220px;
            left: 110px;
            width: 200px;
            height: 200px;
            border: 5px solid red;
            border-radius: 100px;
            position: absolute;
            z-index: 3;
            cursor: pointer;
        }

        .note {
            width: 400px;
            height: 500px;
            background: url(../images/note.png) no-repeat top/contain;
            position: relative;
            // animation: note_move1 10s -5s linear infinite forwards;
            .note-content {
                font-size: 20px;
                position: absolute;
                top: 190px;
                left: 122px;
                cursor: pointer;
                span:nth-child(2) {
                    font-size: 16px;
                    margin-left: 30px;
                }
            }
            .fish-pic {
                border: 2px solid aqua;
                width: 60%;
                height: 200px;
                top: 240px;
                left: 102px;
                position: absolute;
                cursor: pointer;
<<<<<<< HEAD
=======

>>>>>>> MYSELF
                img {
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        .note:nth-child(2) {
            background-image: url(../images/note02.png);
        }
        // .note:nth-child(3) {
        //     right: 50px;
        // }
    }
}

section.paper {
    background-color: #E3D6B3;
    width: 90%;
    display: block;
    margin: 0 auto;
    .center {
        display: flex;
    }
}

.side-left {
    width: 40%;
    margin: auto;
    border: 1px solid black;
    display: inline-block;
    padding: 0 0 0 10px;
<<<<<<< HEAD
    overflow: hidden;
    .food-display {
        position: relative;
        width: 100%;
=======
    // overflow: hidden;

    .food-display {
        position: relative;
        width: 100%;

>>>>>>> MYSELF
        img {
            width: 100%;
        }
    }
<<<<<<< HEAD
=======

>>>>>>> MYSELF
    .ingret_pos {
        width: 100px;
        height: 100px;
        position: absolute;
        border: 1px solid blue;
        cursor: normal;
        z-index: 3;
    }
<<<<<<< HEAD
    .ingret_pos:nth-child(2) {
        z-index: 2;
    }
=======

    .ingret_pos:nth-child(2) {
        z-index: 2;
    }

>>>>>>> MYSELF
    .ingret_pos:nth-child(3) {
        z-index: 1;
    }
}

.side-right {
    width: 60%;
    padding: 50px 10px 0;
    display: inline-block;
    .for-phone {
        display: none;
    }
    .choose-element {
        width: 95%;
        margin: auto;
        margin-bottom: 50px;
        font-size: 24px;
        text-align: center;

        h3 {
            margin-bottom: 30px;
<<<<<<< HEAD
=======

>>>>>>> MYSELF
            span {
                border: 1px solid black;
                width: 20px;
                height: 20px;
                display: inline-block;
                cursor: pointer;
            }
        }
        ul {
            display: flex;
            justify-content: space-around;
            width: 150%;
            transition: transform .5s ease-in-out;

            li {
                width: 23%;
                font-size: 18px;
                border: 1px solid white;
                cursor: pointer;

                figure img {
                    width: 100%;
                    object-fit: fill;
                    object-position: center;
                }
                figure figcaption {
                    font-size: 18px;
                    text-align: center;
                }
            }
        }
<<<<<<< HEAD
        .choose-ingredient {
            overflow: hidden;
            width: 100%;
            .left-right {
                display: flex;
                justify-content: center;
=======

        .choose-ingredient {
            overflow: hidden;
            width: 100%;

            .left-right {
                display: flex;
                justify-content: center;

>>>>>>> MYSELF
                div {
                    width: 5%;
                    padding: 5px;
                    display: inline-block;
                    background-color: saddlebrown;
                    border-radius: 10px;
                    border: transparent;
                    color: antiquewhite;
                    font-size: 20px;
                    margin: 10px;
                    cursor: pointer;
                }
<<<<<<< HEAD
=======

>>>>>>> MYSELF
            }
        }
    }
    .choose-cook {
        display: block;
        width: 95%;
        margin: auto;
        margin-bottom: 50px;
        font-size: 24px;
        text-align: center;
        cursor: pointer;

        h3 {
            margin: 30px 0;
        }
        ul {
            display: flex;
            justify-content: space-evenly;
            position: relative;
            li {
                width: 30%;
                font-size: 18px;
                text-align: center;
                padding: 55px;
                border: 1px solid azure;
                position: relative;
            }
<<<<<<< HEAD
=======

>>>>>>> MYSELF
            li.selected::before {
                content: "";
                border: 3px solid red;
                width: 70%;
                height: 100%;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

form {
    width: 90%;
    padding: 20px 10px;
    margin: 0 auto;
    text-align: center;
    .food-info {
        margin: 30px 0 20px;
        text-align: left;
        width: 100%;
        span {
            display: inline-block;
            margin-left: 20px;
            color: red;
            font-size: 90%;
        }
        label {
            width: 20%;
        }
        input {
            line-height: normal;
            display: block;
            margin: 10px 0 0;
            border: solid 1px #ececec;
            border-radius: 4px;
            background: #f9f9f9;
            flex: 1;
            font-size: 90%;
            height: 25px;
            padding: 25px 50px;
        }
        textarea {
            -webkit-font-smoothing: subpixel-antialiased;
            box-sizing: border-box;
            overflow: auto;
            width: 100%;
            margin: 10px 0 0;
            border: solid 1px #ececec;
            border-radius: 4px;
            background: #f9f9f9;
            height: 150px;
            padding: 25px 50px;
            resize: vertical;
            font-size: 14.4px;
        }
    }
    .form-control {
        h3 {
            margin: 50px 0 20px;
        }

        button {
            @extend %btn_ano;
            // border: transparent;
            // background-color: #40B5E5;
            // color: aliceblue;
            padding: 20px 50px;
            // margin: 0 10px;
            // border-radius: 10px;
            // cursor: pointer;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, .5);
<<<<<<< HEAD
=======

>>>>>>> MYSELF
    /* 預設：完全透明；設定 z-index: -1 會在整個頁面的後方，看不到，才不會擋到頁面元素。 */
    opacity: 0;
    z-index: -1;
    transition: opacity 1s;
<<<<<<< HEAD
=======

>>>>>>> MYSELF
    article {
        background-color: white;
        width: 30%;
        border-radius: 10px;
        padding: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
<<<<<<< HEAD
        h2 {
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 20px;
        }
=======

        h2 {
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 20px;
        }
        .cancel{
            @extend %btn_ano;
        }
>>>>>>> MYSELF
        input {
            @extend %btn;
        }
    }
<<<<<<< HEAD
=======

>>>>>>> MYSELF
    .close {
        background: url(../images/blue-cross-icon.png) no-repeat top/cover;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
}

.overlay.-on {
<<<<<<< HEAD
=======

>>>>>>> MYSELF
    /* 加上 -on 之後，Modal 漸漸出現，因為有設定 transition */
    opacity: 1;
    z-index: 1;
}

.overlay.-opacity-zero {
    /* 關閉 Modal 時，先讓 opacity設定0，就會慢慢變成完全透明，但這時會擋到後面的元素，所以要再移除 -on 及 -opacity-zero 這兩個 class */
    opacity: 0;
}
<<<<<<< HEAD
=======

>>>>>>> MYSELF

@media screen and (max-width:1200px) {
    .side-right {
        .choose-cook {
            ul {
                li {
                    padding: 50px 46px;
                }
            }
        }
    }
}

@media screen and (max-width:991px) {
    .upper {
        section.choose-fish {
            .selected-fish::before {
                top: 220px;
                left: 110px;
                width: 80%;
                height: 80%;
                border: 5px solid red;
                border-radius: 100px;
                position: absolute;
                z-index: 3;
                cursor: pointer;
            }

            .note {
                width: 400px;
                height: 500px;
                background: url(../images/note.png) no-repeat top/contain;
                position: relative;
                // animation: note_move1 10s -5s linear infinite forwards;
<<<<<<< HEAD
=======

>>>>>>> MYSELF
                .note-content {
                    font-size: 20px;
                    position: absolute;
                    top: 190px;
                    left: 122px;
                    cursor: pointer;
<<<<<<< HEAD
=======

>>>>>>> MYSELF
                    span:nth-child(2) {
                        font-size: 16px;
                        margin-left: 30px;
                    }
                }
<<<<<<< HEAD
=======

>>>>>>> MYSELF
                .fish-pic {
                    top: 50%;
                    left: 54%;
                    transform: translate(-50%, -50%);
<<<<<<< HEAD
=======

>>>>>>> MYSELF
                    img {
                        width: 100%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
<<<<<<< HEAD
            .note:nth-child(2) {
                background-image: url(../images/note02.png);
            }
=======

            .note:nth-child(2) {
                background-image: url(../images/note02.png);
            }

>>>>>>> MYSELF
            // .note:nth-child(3) {
            //     right: 50px;
            // }
        }
    }
    .side-right {
        .choose-cook {
            ul {
                li {
                    padding: 33px;
                }
            }
        }
    }
}

@media screen and (max-width:767px) {
    .intro {
        font-size: 16px;
    }
<<<<<<< HEAD
    .upper {
        display: none;
    }
=======

    .upper {
        display: none;
    }

>>>>>>> MYSELF
    .center {
        flex-wrap: wrap;
        .side-left {
            padding: 0 10px;
            width: 100%;
            height: auto;
<<<<<<< HEAD
            .food-display {
                position: relative;
                width: 100%;
=======

            .food-display {
                position: relative;
                width: 100%;

>>>>>>> MYSELF
                img {
                    width: 100%;
                    // position: absolute;
                }
            }
        }
        .side-right {
            width: 100%;
        }
        .for-phone {
            display: block;
            width: 100%;
            .list-block {
                ul.tab-list {
                    display: flex;
                    justify-content: space-around;
                    li {
                        display: inline-block;
                        width: 100%;
                        >a {
                            width: 100%;
                            display: inline-block;
                            padding: 2% 33%;
                            border-radius: 5px 5px 0 0;
                            cursor: pointer;
                            color: aliceblue;
                            text-decoration: none;
                            text-align: center;
                            background-color: darkorange;
                            position: relative;
                            top: 2px;
                        }
                        >a.-on {
                            color: black;
                            background-color: crimson;
                        }
                        /* 將底部黑線改成白色 */
                        >a.-on::after {
                            width: 100%;
                            left: 0;
                        }
                    }
                }
            }
            /* 頁籤內容區塊 */
            .tab-contents {
                border: 1px solid black;
                .tab {
                    padding: 10px;
                    display: none;
                    background-color: bisque;
                }
                .tab.-on {
                    display: block;
                    .cabinet-top,
                    .cabinet-bottom {
                        width: 100%;
                        height: 150px;
                        display: block;
                        position: relative;
                        ul {
                            display: flex;
                            justify-content: space-evenly;
                            li {
                                width: 22%;
                                font-size: 18px;
                                border: 1px solid white;
                                position: relative;
                                text-align: center;
                                cursor: pointer;

                                figure img {
                                    width: 100%;
                                    object-fit: fill;
                                    object-position: center;
                                }
                                figure figcaption {
                                    font-size: 18px;
                                    text-align: center;
                                }
                            }
                            // 選擇魚
                            li.tab_fish.selected::before {
                                content: "";
                                width: 90%;
                                height: 75%;
                                border-radius: 50%;
                                border: 3px solid red;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
<<<<<<< HEAD
=======

>>>>>>> MYSELF
                            li.selected::before {
                                content: "";
                                width: 65%;
                                height: 75%;
                                border-radius: 50%;
                                border: 3px solid red;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
<<<<<<< HEAD
=======

>>>>>>> MYSELF
                        >p {
                            margin: auto;
                            padding: 10px;
                        }
                    }
<<<<<<< HEAD
=======

>>>>>>> MYSELF
                    .cabinet-top::before,
                    .cabinet-bottom::before {
                        bottom: 0px;
                        left: -0px;
                        background: url(../images/shelf.png) no-repeat center/cover;
                        position: absolute;
                        z-index: 1;
                        content: '';
                        width: 100%;
                        height: 30px;
                        z-index: 0;
                    }
                }
<<<<<<< HEAD
                .tab2 ul li {
                    padding: 45px;
=======

                .tab2 ul li {
                    padding: 45px 38px;
>>>>>>> MYSELF
                }
            }
        }
        .choose-cook,
        .choose-element {
            display: none;
        }
    }
    form {
        .food-info {
            span {
                padding: 5px;
            }
            input,
            textarea {
                padding: 2px;
            }
        }
    }
}

@media screen and (max-width:640px) {
    .center .for-phone .tab-contents {
        .tab.-on {
            .cabinet-top,
            .cabinet-bottom {
                ul li {
                    width: 25%;
                }
            }
        }
        .tab2 ul li {
            padding: 45px 34px;
        }
    }
}

@media screen and (max-width:576px) {
    form {
        .form-control {
            input {
                padding: 10px 40px;
                margin: 0 5px;
            }
        }
    }
}

@media screen and (max-width:540px) {
    .center .for-phone .tab-contents {
        .tab.-on {
            .cabinet-top,
            .cabinet-bottom {
                ul li {
                    width: 29%;
                }
            }
        }
    }
}

@media screen and (max-width:500px) {
    .center .for-phone .tab-contents {
        .tab.-on {
            .cabinet-top,
            .cabinet-bottom {
                ul li {
                    width: 33%;
                }
            }
        }
        .tab2 ul li {
            padding: 45px;
        }
    }
    
    form {
        .form-control {
            input {
                padding: 10px 25px;
                margin: 0 5px;
            }
        }
    }
}