@import 'base/var';

@keyframes waves{ /*波浪*/
    0%{
       background-image: url("/images/wave_keyframes01.png");
    }
    50%{
       background-image: url("/images/wave_keyframes02.png");
    }
    100%{
       background-image: url("/images/wave_keyframes03.png");
        }
}

@keyframes waves_calm{ /*海面*/
    0%{
        background-position: 50px 25px;
    }
    25%{
        background-position: 25px 50px;
    }
    50%{
        background-position: 50px 25px;
    }
    75%{
        background-position: -25px -50px;
    }
    100%{
        background-position: -50px -25px;
    }
}

@keyframes ripples{ /*漣漪*/
    0%{
        background-image: url("/images/ripple_keyframes01.png");
    }
    50%{
        background-image: url("/images/ripple_keyframes02.png");
    }
    100%{
        background-image: url("/images/ripple_keyframes03.png");
    }
}

@keyframes sailing{ /*船行*/
    0%{
        transform: rotate(-1deg);
    }
    25%{
        transform: rotate(0deg);
    }
    37%{
        top:-5px;
        transform: rotate(2deg);
    }
    50%{
        top:-2px;
        transform: rotate(3deg);
    }
    62%{
        transform: rotate(3deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-2deg);
    }
}

@keyframes wabble{
    0%{
        top:0px;
    }
    50%{
        top:-2px;
    }
    100%{
        top:0px;
    }
}

@keyframes cloud{ /*雲在飄*/
    from{
        background-position: 0 0;
    }
    to{
        background-position: 5760px 0;
    }
}

body{
    margin: 0;
    padding: 0;
}

div.forALL{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    /*background: linear-gradient(to bottom, #9cd6ff, #ffffff);*/
    /*background: linear-gradient(to bottom, #9cd6ff, #ffffff , #48c6e4);*/
    background: radial-gradient(ellipse at top, #FEFFDB,#9cd6ff, #48c6e4);
    div.cloud{
        border: 1px solid red;
        border: none;
        background-image: url("/images/clouds_alter.png");
        background-size: cover;
        height: 50vh;
        animation: cloud 180s infinite ;
        position: relative;
        div.logo{
            border: 1px solid red;
            border: none;
            width: 20%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            img{
                max-width: 100%;
                min-width: 200px;
            }
        }
    }
    div.block{
        width: 100%;
        height: 15vh;
    }
    
    div.ocean{
        background-image: url("/images/Ocean_top_alter.png");
        height: 35vh;

        animation: waves_calm 5s infinite alternate ease-in-out;
        div.warp{
            border: 1px solid gold;
            border: none;
            div.cruises{
                border: 1px solid firebrick;
                border: none;
                // margin: 0 auto;
                display: flex;
                justify-content: space-around;
                div.pack{
                    border: 1px solid purple;
                    border: none;
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    a{
                        border: 1px solid red;
                        border: none;
                        display: inline-block;
                        position: relative;
                    }
                    a:nth-child(1) {
                        background-image: url("/images/Cruise_landingPage_02.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        width: 35%;
                        animation: sailing 2s infinite;
                        animation-timing-function: cubic-bezier(.17,.67,.58,.56);
                        h1{
                            display: inline-block;
                            position: absolute;
                            top: -25%;
                            left: 50%;
                            margin: 0;
                            transform: translate(-50%, -50%);
                            color: #363636;
                            font-size: $fontSize * 4;
                        }
                        div.waves{
                            background-image: url("/images/wave_keyframes01.png");
                            background-repeat: no-repeat;
                            background-size: contain;
                            width: 100%;
                            height: 12vh;
                            margin-left: 17%;
                            margin-top: 12.5%;
                            margin-bottom: -2%;
                            animation: waves 1s infinite ease-in-out;
                        }
                        div >a:nth-child(1):hover{
                            animation: sailing 0.5s infinite;
                        }
                    }
                    a:nth-child(2) {
                        background-image: url("/images/Cruise_landingPage_01.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                        width: 35%;
                        animation: wabble 2s infinite;
                        animation-timing-function: cubic-bezier(.17,.67,.58,.56);
                        h1{
                            display: inline-block;
                            position: absolute;
                            top:-25%;
                            left: 40%;
                            margin: 0;
                            transform: translate(-50%, -50%);
                            color: #363636;
                            font-size: $fontSize * 4;
                        }
                        div.ripples{
                            background-image: url("/images/ripple_keyframes01.png");
                            background-repeat: no-repeat;
                            background-size: contain;
                            width: 100%;
                            height: 5vh;
                            margin-left: -5%;
                            margin-top: 25%;
                            animation: ripples 3s infinite ease-in-out;
                        }
                    }
                }
            }
        }
    }
    
}

@include rwd(small){
    div.forALL{
        div.ocean{
          div.warp{
            div.cruises{
                margin-top: 0%;
                div.pack{

                    a:nth-child(1){
                        width: 70%;
                    }
                    a:nth-child(2){
                        display: none;
                    }
                }
            }
        }  
        }
        
    }
}

@include rwd(mobile){
    div.forALL{
        div.logo{
            margin-left: -5%;
        }
        div.ocean{
            div.warp{
                div.cruises{

                div.pack{
                    a:nth-child(1){
                        width: 70%;
                    }
                    a:nth-child(2){
                        display: none;
                    }
                }
            }
          }
        }
        
    }
}