@import 'base/var';

#go_top {
    display: none;
}

// .wrapperWheel {
//     display: none;
// }
// .wrapperBg {
//     display: none;
// }
body {
    background: url(../images/shortbg.png) left top no-repeat;
}

// .section1.bg {
//     background: url(../images/shortbg.png) left top;
// }
.section1 {
    // background: url(../images/shortbg.png) right top;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    transition: all 5s ease-in-out;

    // 標題
    h1 {
        font-family: $fontFamily;
        font-size: $fontSize*5;
        line-height: 50vh;
        text-align: center;
        position: relative;
        color: #035;
        transition: all 2s ease-out;
        animation: textJump 2s cubic-bezier(0.68, -0.6, 0.32, 1.6) forwards;
    }

    @keyframes textJump {
        0% {
            top: 100vh,
        }

        100% {
            top: 50px,
        }
    }

    // 島嶼
    .layer1 {
        width: 60%;
        position: absolute;
        bottom: 0;
        left: 20%;
        transform: translateX(-60%);
        z-index: 500;
        transition: all 0.5s linear;
    }

    .layer2 {
        width: 40%;
        position: absolute;
        bottom: 0;
        right: -10%;
        z-index: 500;
    }

    .port {
        border-radius: 20px;
        background-color: #1B81C7;
        display: inline-block;
        position: absolute;
        right: 20vh;
        bottom: 55vh;
        animation: portname 2s ease-in infinite;
        opacity: 0;
        transition: all 1s;

        p {
            color: #fff;
            letter-spacing: 2px;
            text-shadow: 0 0 5px rgba(67, 232, 216, 1), 0 0 10px rgba(67, 232, 216, 1), 0 0 20px rgba(67, 232, 216, 1), 0 0 40px rgba(67, 232, 216, 1);
            font-size: 24px;
            margin: 0;
            padding: 10px 20px;
        }
    }

    @keyframes portname {

        0%,
        100% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }
    }

    .layer3 {
        width: 40%;
        position: absolute;
        bottom: 20vh;
        right: -10%;
        z-index: 15;
    }

    // 海浪
    .wrapper {
        .wave {
            width: 100%;
            background-size: 50vh 15vh;
            position: absolute;
            animation: wave 20s linear infinite;
        }

        .wave1 {
            background-image: url(../images/wave2.png);
            height: 15vh;
            bottom: 17vh;
            animation-direction: reverse;
            z-index: 0;
        }

        .wave2 {
            background-image: url(../images/wave3.png);
            height: 15vh;
            bottom: 15vh;
            z-index: 10;
        }

        .wave3 {
            background-image: url(../images/wave2.png);
            height: 15vh;
            bottom: 10vh;
            animation-direction: reverse;
            z-index: 20;
        }

        .wave4 {
            height: 20vh;
            background-image: url(../images/wave1.png);
            background-size: 50vh 20vh;
            bottom: 0;
            z-index: 30;
        }

        @keyframes wave {
            0% {
                background-position: 0
            }

            100% {
                background-position: 100%
            }
        }
    }

    .boat {
        position: absolute;
        bottom: 10vh;
        z-index: 50;
        width: 300px;
        transition: all .5s;
        transform: rotateZ(-2deg);
        animation: boatfloat 3s infinite;
    }

    @keyframes boatfloat {
        0% {
            transform: rotateZ(-2deg);
        }

        50% {
            transform: rotateZ(2deg);
        }

        100% {
            transform: rotateZ(-2deg);
        }
    }

    img.flyfish1 {
        width: 100px;
        position: relative;
        bottom: -80vh;
        left: 200px;
        transform: rotateZ(60deg);
    }

    img.flyfish2 {
        width: 100px;
        position: relative;
        bottom: -80vh;
        left: 300px;
        transform: rotateZ(20deg);
    }

    img.flyfish3 {
        width: 100px;
        position: relative;
        bottom: -80vh;
        left: 450px;
        transform: rotateZ(180deg);
    }

    img.fly1 {
        animation: fishfly1 2s ease-in-out;
    }

    img.fly2 {
        animation: fishfly2 2s 0.3s ease-in-out;
    }

    img.fly3 {
        animation: fishfly1 2s 0.5s ease-in-out;
    }

    @keyframes fishfly1 {
        0% {
            bottom: -100vh;
            transform: rotateZ(60deg);
        }

        25% {
            transform: rotateZ(100deg);
        }

        50% {
            bottom: 30vh;
            transform: rotateZ(230deg);
        }

        75% {
            transform: rotateZ(250deg);
        }

        100% {
            bottom: -100vh;
            transform: rotateZ(270deg);
        }
    }

    @keyframes fishfly2 {
        0% {
            bottom: -100vh;
            transform: rotateZ(20deg);
        }

        25% {
            transform: rotateZ(0deg);
        }

        50% {
            bottom: 25vh;
            transform: rotateZ(-20deg);
        }

        75% {
            transform: rotateZ(0deg);
        }

        100% {
            bottom: -100vh;
            transform: rotateZ(15deg);
        }
    }

    @keyframes fishfly3 {
        0% {
            bottom: -100vh;
            transform: rotateZ(20deg);
        }

        25% {
            transform: rotateZ(80deg);
        }

        50% {
            bottom: 10vh;
            transform: rotateZ(180deg);
        }

        75% {
            transform: rotateZ(250deg);
        }

        100% {
            bottom: -100vh;
            transform: rotateZ(360deg);
        }
    }
}

.section2 {
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: url(../images/mainbg2.svg) bottom;
    background-color: #A3D9FD;
    transition: all 0.5s linear;

    .row0 {
        height: 150px;
    }

    .row1 {
        height: calc(100vh - 150px);

        .wrapper {
            position: relative;
            top: 50%;
            transform: translateY(-60%);
            z-index: 1;
        }

        .title {
            width: 80%;
            margin: 0 auto;
            position: relative;
            z-index: 1;

            // opacity: 0;
            .pu_h1_div {
                position: relative;
                width: 80%;
                margin: 0 auto 5% auto;

                .pu_h1_img {
                    max-width: 100%;
                }

                .text {
                    font-size: $fontSize*2;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 18%;
                    letter-spacing: 1px;
                }
            }
        }

        .text {
            text-align: center;

            p {
                color: #034;
                margin-bottom: 1%;
            }
        }

        .reservation {
            width: 60%;
            color: #fff;
            background-color: #2E4581;
            border-radius: 10px;
            margin-top: 5%;
            padding: 5%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            transition: all 1s 0.5s;
            z-index: 20;

            // opacity: 0;
            h3 {
                font-size: $fontSize * 1.2;
            }

            p {
                font-size: $fontSize;
                margin: 3% 0;
            }

            .question {
                margin-bottom: 5%;
                display: inline-block;
            }

            .answer {
                margin-bottom: 5%;
                display: inline-block;
            }

            .port {
                label {
                    background-color: #fff;
                    color: #034;
                    border-radius: 5px;
                    padding: 5px 10px;
                    margin: 5px 5px 5px 0;
                    cursor: pointer;
                }

                .port1 {
                    background-color: #4EB6E6;
                    color: #fff;
                }

                input {
                    display: none;
                }
            }

            .people {
                #people {
                    display: inline-block;
                    width: $fontSize*2;
                    margin-right: 5px;
                    text-align: right;
                }

                input#people::-webkit-inner-spin-button {
                    -webkit-appearance: none !important;
                    margin: 0;
                }

                .minus,
                .plus {
                    font-size: $fontSize*1.5;
                    margin-right: 10px;
                    cursor: pointer;
                    position: relative;
                    top: 3px;
                }
            }

            .button {
                @extend %btn_ano;
                width: 120px;
                height: 40px;
                margin: 0 auto 3%;
                text-align: center;
                padding: 10px 20px;
                display: block;
                text-decoration: none;
                color: #fff;
            }
        }

        .mappic {
            position: relative;

            .boat {
                position: absolute;
                top: 20vh;
                left: 20vh;
                z-index: 50;
                width: 100px;
                opacity: 0;
                transition: all .5s;
                transform: rotateZ(-2deg);
                animation: boatfloat 3s infinite;
            }

            .smallwave {
                width: 100px;
                position: absolute;
                z-index: 1;
                opacity: 0;
            }

            .smallwave1 {
                top: 10vh;
                left: 5vh;
            }

            .smallwave2 {
                top: 50vh;
                left: 10vh;
            }

            .smallwave3 {
                top: 20vh;
                right: 5vh;
            }

            .smallwave4 {
                top: 60vh;
                right: 5vh;
            }

            .map {
                // width: 100vw;
                position: relative;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                transition: all 0.2s linear;
            }
        }
    }

    .wave {
        width: 100%;
        height: 15vh;
        bottom: -7vh;
        background-image: url(../images/wave1.png);
        background-size: 50vh 15vh;
        position: absolute;
        animation: wave 20s linear infinite;
    }

    @keyframes wave {
        0% {
            background-position: 0
        }

        100% {
            background-position: 100%
        }
    }
}

.wrapperBg {
    background: #A6D4F2;
    height: 100%;
}

.section3 {
    background: url(../images/section3bg.svg) no-repeat;
    background-size: contain;
    background-position: 0 -10px;
    height: 100vh;

    .row1 {
        .title {
            position: relative;
            z-index: 1;

            .pu_h1_div {
                position: relative;
                width: 80%;
                margin: 12% auto 5%;

                .pu_h1_img {
                    max-width: 100%;
                }

                .titletext {
                    text-align: center;
                    font-size: $fontSize*2;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 18%;
                    letter-spacing: 1px;
                }
            }
        }

        .text {
            text-align: center;

            p {
                font-size: $fontSize;
                margin: 3% 0;
            }
        }

        .button {
            @extend %btn_ano;
            width: 120px;
            height: 40px;
            margin: 0 auto 3%;
            text-align: center;
            padding: 10px 20px;
            display: block;
            text-decoration: none;
            color: #fff;
        }
    }

    .row2 {
        height: 50vh;

        .menu {
            position: relative;
            transform-style: preserve-3d;
            border-radius: 5px;
            background-color: #F0EEE0;
            margin: 5% 0;
            padding: 3%;

            .wrapper {
                border: 3PX solid #E3D6B3;
                margin: 3%;
                background: url(../images/mealname.svg) no-repeat;
                background-size: 20%;
                background-position: 3% 0;

                img {
                    margin: 0px auto 10px;
                    display: block;
                    width: 50%;
                }

                .text {
                    color: #034;
                    display: inline-block;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    transform-origin: top;
                    transition: all 0.3s;
                    transform-style: preserve-3d;
                    margin: 3%;

                    h4 {
                        font-size: $fontSize*1.2;
                        margin-bottom: 10%;
                    }

                    p {
                        font-size: $fontSize;
                        margin-bottom: 10%;
                    }
                }
            }
        }

        .menu1 {
            animation: menufloat1 3s ease-in infinite;
        }

        .menu2 {
            animation: menufloat2 2.5s ease-in infinite;
        }

        .menu3 {
            animation: menufloat1 2.5s ease-in infinite;
        }

        @keyframes menufloat1 {

            0%,
            100% {
                top: 0px;
            }

            50% {
                top: 10px;
            }
        }

        @keyframes menufloat2 {

            0%,
            100% {
                top: 0px;
            }

            50% {
                top: -10px;
            }
        }
    }

    .row3 {
        #sliderBoard {
            width: 300px;
            height: 320px;
            margin: 50px auto;
            overflow: hidden;
        }

        /* ul */
        #sliderBoard ul {
            width: 915px;
            height: 320px;
            position: relative;
            animation: slider 8s infinite;
        }

        /* li */
        #sliderBoard li {
            width: 300px;
            height: 320px;
            text-align: center;
            float: left;
            margin-right: 5px;
        }

        .menu {
            position: relative;
            border-radius: 5px;
            background-color: #F0EEE0;
            padding: 3%;

            .wrapper {
                border: 3PX solid #E3D6B3;
                margin: 3%;
                background: url(../images/mealname.svg) no-repeat;
                background-size: 20%;
                background-position: 3% 0;

                img {
                    margin: 0px auto 10px;
                    display: block;
                    width: 50%;
                }

                .text {
                    color: #034;
                    display: inline-block;
                    margin: 3%;

                    h4 {
                        font-size: $fontSize*1;
                        margin-bottom: 10%;
                    }

                    p {
                        font-size: $fontSize*0.9;
                        margin-bottom: 10%;
                    }
                }
            }
        }

        @keyframes slider {

            0%,
            100% {
                left: 0px
            }

            35% {
                left: -300px
            }

            70% {
                left: -600px
            }
        }
    }
}

.section4 {
    height: 100vh;

    .row1 {
        .title {
            position: relative;
            z-index: 1;

            .pu_h1_div {
                position: relative;
                width: 80%;
                margin: 12% auto 5% auto;

                .pu_h1_img {
                    max-width: 100%;
                }

                .titletext {
                    text-align: center;
                    font-size: $fontSize*2;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 18%;
                    letter-spacing: 1px;
                }
            }
        }

        .text {
            margin-top: 20px;
            color: #fff;
            display: inline-block;

            p {
                margin: 0;
                padding: 5px;
            }
        }
    }

    .row2 {
        .step {
            margin: 0 auto;
            background-color: #318DD6;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            text-align: center;

            .text {
                position: relative;
                top: 50%;
                transform: translateY(-50%);

                p {
                    color: #fff;
                    margin: 5px;
                }
            }
        }

        .text {
            margin-top: 20px;
            text-align: center;

            p {
                font-size: $fontSize;
                color: #034;
                margin-bottom: 5%;
            }
        }

        .button {
            @extend %btn_ano;
            width: 120px;
            height: 40px;
            margin: 0 auto 3%;
            text-align: center;
            padding: 10px 20px;
            display: block;
            text-decoration: none;
            color: #fff;
        }

        .game {
            img {
                width: 80%;
            }
        }
    }
}

.section5 {
    overflow: hidden;
    height: 100vh;
    position: relative;
    z-index: 1;

    .wrapper {
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        .step {
            margin: 0 auto;
            background-color: #2E4581;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            text-align: center;

            .text {
                position: relative;
                top: 50%;
                transform: translateY(-50%);

                p {
                    color: #fff;
                    margin: 5px;
                }
            }
        }

        .text {
            margin-top: 20px;
            text-align: center;

            p {
                font-size: $fontSize;
                color: #034;
                margin-bottom: 5%;
            }
        }

        .button {
            @extend %btn_ano;
            width: 120px;
            height: 40px;
            margin: 0 auto 3%;
            text-align: center;
            padding: 10px 20px;
            display: block;
            text-decoration: none;
            color: #fff;
        }

        .fishes {
            background: url(../images/list.png) no-repeat;
            background-size: contain;
            background-position: 0 0%;

            .fish1 {
                position: relative;

                img {
                    width: 100%;
                }
            }

            .fish2 {
                position: relative;

                img {
                    width: 100%;
                }
            }

            .fish3 {
                position: relative;

                img {
                    width: 100%;
                }
            }

            .cook {
                position: relative;
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-10%);


            }
        }
    }
}

.section6 {
    height: 100vh;
    position: relative;

    .bgbottom {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    .row {
        height: 100vh;
        overflow: hidden;

        .left {
            .title {
                position: relative;
                z-index: 1;

                .pu_h1_div {
                    position: relative;
                    width: 80%;
                    margin: 0 auto 5% auto;

                    .pu_h1_img {
                        max-width: 100%;
                    }

                    .titletext {
                        text-align: center;
                        font-size: $fontSize*2;
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 18%;
                        letter-spacing: 1px;
                    }
                }
            }

            .text {
                text-align: center;

                p {
                    font-size: $fontSize;
                    color: #fff;
                    margin: 3% 0;
                }

                .button {
                    @extend %btn_ano;
                    width: 120px;
                    height: 40px;
                    margin: 0 auto 3%;
                    text-align: center;
                    padding: 10px 20px;
                    display: block;
                    text-decoration: none;
                    color: #fff;
                }
            }
        }

        .right {
            .contest {
                position: relative;

                .light {
                    position: absolute;
                    width: 70%;
                    animation: light 5s linear infinite;
                }

                .cook {
                    color: #fff;
                    text-align: center;

                    h4 {
                        font-size: $fontSize*1.4;
                        margin-bottom: 10%;
                    }

                    .dish {
                        width: 80%;
                        display: block;
                        position: relative;
                        left: 10%;
                        top: 30px;
                    }

                    .barrel {
                        width: 50%;
                    }

                    .first {
                        width: 70%;
                    }

                    .button {
                        @extend %btn;
                        width: 80px;
                        margin: 0 auto;
                    }
                }
            }
        }

        @keyframes light {
            0% {
                transform: rotateZ(0deg);
            }

            50% {
                transform: rotateZ(180deg);
            }

            100% {
                transform: rotateZ(360deg);
            }
        }
    }
}

// $desktop : 1200px;
// $medium : 991px;
// $small : 767px;
// $mobile : 576px;
@include rwd(desktop) {}

@include rwd(medium) {
    .wave {
        animation: wave 15s linear infinite;
    }

    .section2 {
        .row0 {
            height: 0;
        }

        .row1 {
            .title {
                .pu_h1_div {
                    .text {
                        font-size: $fontSize*1.5;
                    }
                }
            }

            .text {
                text-align: center;

                p {
                    color: #034;
                    margin-bottom: 1%;
                }
            }

            .reservation {
                width: 80%;

                .item {
                    display: inline-block;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                }

                .question {
                    margin-bottom: 15%;
                }
            }
        }
    }

    .section3 {
        .row1 {
            .title {
                .pu_h1_div {
                    .titletext {
                        font-size: $fontSize*1.5;
                    }
                }
            }
        }

        .row2 {
            .menu {
                .wrapper {
                    .text {
                        h4 {
                            font-size: $fontSize;
                            margin-bottom: 10%;
                        }

                        p {
                            font-size: $fontSize*0.8;
                            margin-bottom: 10%;
                        }
                    }
                }
            }
        }
    }

    .section4 {
        .row1 {
            .title {
                .pu_h1_div {
                    .titletext {
                        font-size: $fontSize*1.5;
                    }
                }
            }
        }
    }

    .section5 {}

    .section6 {
        height: auto;

        .row {
            height: auto;

            .left {
                .title {
                    .pu_h1_div {
                        .titletext {
                            font-size: $fontSize*1.5;
                        }
                    }
                }

                .text {
                    text-align: center;

                    p {
                        font-size: $fontSize;
                        color: #fff;
                        margin: 3% 0;
                    }
                }
            }

            .right {
                .contest {
                    position: relative;

                    .light {
                        position: absolute;
                        width: 70%;
                        animation: light 5s linear infinite;
                    }

                    .cook {
                        color: #fff;
                        text-align: center;

                        h4 {
                            font-size: $fontSize*1.4;
                            margin-bottom: 10%;
                        }

                        .dish {
                            width: 80%;
                            display: block;
                            position: relative;
                            left: 10%;
                            top: 30px;
                        }

                        .barrel {
                            width: 50%;
                        }

                        .first {
                            width: 70%;
                        }
                    }
                }
            }
        }
    }
}

@include rwd(small) {
    .section1 {

        // 標題
        h1 {
            line-height: 20vh;
            text-align: center;
        }

        .port {
            display: none;
        }

        .wrapper {
            .wave {
                width: 100%;
                background-size: 50vh 15vh;
                position: absolute;
                animation: wave 5s linear infinite;
            }

            .wave1 {
                height: 15vh;
                bottom: 17vh;
                animation-direction: reverse;
            }

            .wave2 {
                height: 15vh;
                bottom: 15vh;
            }

            .wave3 {
                height: 15vh;
                bottom: 10vh;
                animation-direction: reverse;
                z-index: 20;
            }

            .wave4 {
                height: 20vh;
                background-image: url(../images/wave1.png);
                background-size: 50vh 20vh;
                bottom: 0;
                z-index: 30;
            }
        }
    }

    .section2 {
        .row0 {
            height: 0;
        }

        .row1 {
            margin: 5%;

            .title {
                .pu_h1_div {
                    .titletext {
                        font-size: $fontSize*1.5;
                    }
                }
            }
        }

        .wave {
            animation: wave 5s linear infinite;
        }
    }

    .section3 {
        .row1 {
            .title {
                .pu_h1_div {
                    .titletext {
                        font-size: $fontSize*1.5;
                    }
                }
            }
        }

        .row2 {
            display: none;
        }

        .row3 {
            display: block;
        }
    }

    .section4 {
        .row1 {
            .title {
                .pu_h1_div {
                    .titletext {
                        font-size: $fontSize*1.5;
                    }
                }
            }
        }

        .row2 {
            .text {
                margin-top: 20px;
                text-align: center;

                p {
                    margin-bottom: 2%;
                }
            }

            .game {
                img {
                    margin: 0 auto;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }

    .section5 {}

    .section6 {
        height: auto;

        .row {
            height: auto;

            .left {
                .title {
                    .pu_h1_div {
                        .titletext {
                            font-size: $fontSize*1.5;
                        }
                    }
                }

                .text {
                    text-align: center;

                    p {
                        color: #034;
                    }
                }
            }
        }
    }
}

@include rwd(mobile) {
    .section1 {
        .wrapper {
            .wave {
                width: 100%;
                background-size: 50vh 15vh;
                position: absolute;
                animation: wave 2s linear infinite;
            }

            .wave1 {
                height: 15vh;
                bottom: 17vh;
                animation-direction: reverse;
            }

            .wave2 {
                height: 15vh;
                bottom: 15vh;
            }

            .wave3 {
                height: 15vh;
                bottom: 10vh;
                animation-direction: reverse;
                z-index: 20;
            }

            .wave4 {
                height: 20vh;
                background-image: url(../images/wave1.png);
                background-size: 50vh 20vh;
                bottom: 0;
                z-index: 30;
            }
        }
    }

    .section6 {
        height: auto;

        .row {
            height: auto;

            .left {
                .title {
                    .pu_h1_div {
                        .titletext {
                            font-size: $fontSize*1.5;
                        }
                    }
                }

                .text {
                    p {
                        color: #034;
                    }
                }
            }
        }
    }
}

// img.bubble1 {
//     width: 35px;
//     position: relative;
//     left: -20px;
//     top: 5px;
// }
// img.bubble2 {
//     width: 30px;
//     position: relative;
//     left: 30px;
//     top: -5px;
// }
// img.bubble3 {
//     width: 25px;
//     position: relative;
//     left: -5px;
// }
// img.bubble4 {
//     width: 35px;
//     position: relative;
//     right: -10px;
//     top: 5px;
// }
// img.bubble5 {
//     width: 30px;
//     position: relative;
//     right: 20px;
//     top: 0px;
// }
// img.bubble6 {
//     width: 25px;
//     position: relative;
//     right: 50px;
// }