@font-face {
    font-family: 'jf-openhuninn-1.0';
    src: url(../font/jf-openhuninn-1.0.woff) format("woff");
    src: url(../font/jf-openhuninn-1.0.ttf) format("truetype");
}



* {
    font-family: 'jf-openhuninn-1.0';

}



.section1 {
    background: url(../images/shortbg.png) center top;
    height: 100vh;
    overflow: hidden;
    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    .wave {
        z-index: 1;
        width: 100%;
        background-size: 50vh 15vh;
        position: absolute;
        animation: wave 20s linear infinite;
    }
    .wave1 {
        background-image: url(../images/wave2.png);
        height: 15vh;
        bottom: 17vh;
        animation-direction: reverse;
    }
    .wave2 {
        background-image: url(../images/wave3.png);
        height: 15vh;
        bottom: 15vh;
    }
    .wave3 {
        background-image: url(../images/wave2.png);
        height: 15vh;
        bottom: 10vh;
        animation-direction: reverse;
    }
    .wave4 {
        height: 20vh;
        background-image: url(../images/wave1.png);
        background-size: 50vh 20vh;
        bottom: 0;
    }
    @keyframes wave {
        0% {
            background-position: 0
        }
        100% {
            background-position: 100%
        }
    }
    .boat {
        position: relative;
        bottom: -20vh;
        z-index: 1;
        img {
            width: 200px;
            position: relative;
            left: 0;
            transition: all .5s;
        }
    }
    .seafood {
        z-index: 2;
        position: relative;
       
        .row1 {
            padding-top: 20px;
        }
        .row2,
        .wow3,
        .row4 {
            margin-top: 50px;
        }
      
        img {
            width: 80%;
            display: block;
            margin: 0 auto;
            z-index: 3;
        }
        img.bubble1 {
            width: 35px;
            position: relative;
            left: -20px;
            top: 5px;
        }
        img.bubble2 {
            width: 30px;
            position: relative;
            left: 30px;
            top: -5px;
        }
        img.bubble3 {
            width: 25px;
            position: relative;
            left: -5px;
        }
        img.bubble4 {
            width: 35px;
            position: relative;
            right: -10px;
            top: 5px;
        }
        img.bubble5 {
            width: 30px;
            position: relative;
            right: 20px;
            top: 0px;
        }
        img.bubble6 {
            width: 25px;
            position: relative;
            right: 50px;
        }
    }
}

.wrapperWheel {
    display: none;
}

.wrapperBg {
    display: none;
}

.section2 {
    background: url(../images/shortbg.png) center top;
    height: 100vh;
    position: relative;
    overflow: hidden;
    .row1 {
        height: 70vh;
        .cloud {
            position: relative;
            right: 100px;
            float: right;
            transition: all .5s;
            img {
                width: 50%;
            }
        }
        .cloud1 {
            background: url(../images/cloud.svg) center no-repeat;
            width: 40%;
            height: 50%;
            background-size: cotain;
            transition: all .5s;
            display: none;
            // display: flex;
            justify-content: center;
            h2 {
                align-self: center;
            }
        }
        .reservation {
            width: 300px;
            height: 300px;
            border: 1px solid #000;
            // display: inline-block;
            display: none;
        }
        .map {
            width: 300px;
            height: 300px;
            border: 1px solid #000;
            // display: inline-block;
            display: none;
        }
        .text {
            z-index: 1;
            position: absolute;
            transform: translateX(50%) translateY(30%);
            width: 500px;
            color: #035;
            background-color: #eaf1f6;
            padding: 20px;
            border-radius: 10px;
            opacity: 0;
            transition: all 0.5s;
            h3 {
                padding-bottom: 30px;
            }
            .buttonGo {
                display: inline-block;
                padding: 5px 20px;
                background-color: #86d1ef;
                border-radius: 10px;
                cursor: pointer;
            }
        }
        .island img {
            position: relative;
            right: 0;
            width: 100%;
            transition: all .5s;
        }
        .captain img {
            width: 50%;
            position: absolute;
            bottom: 0;
            right: 30%;
            opacity: 0;
            transition: all 1s;
        }
    }
    .ocean {
        background: url(../images/ocean.png)bottom;
        width: 100%;
        height: 30vh;
        position: absolute;
        bottom: 0;
    }
}

.boat2 {
    width: 200px;
    position: relative;
    display: none;
    top: -100px;
    z-index: 2;
    img {
        width: 100%;
        position: relative;
        left: 0;
        transition: all .5s;
    }
}

.wrapperBg {
    background: url(../images/oceanbottom.jpg) center top;
    background-size: cover;
    height: 100%;
}

.section3 {
    margin-top: -80px;
    overflow: hidden;
    .title {
        margin-top: 30px;
        height: 80px;
        background: url(../images/titlebg.svg) center no-repeat;
        background-size: contain;
        display: flex;
        justify-content: center;
        h2 {
            align-self: center;
            color: rgb(243, 240, 240);
            font-size: 22px;
        }
    }
    .row2 {
        height: 80vh;
    }
    .menu {
        margin-top: 20px;
        background-color: #e0f1fc;
        border-radius: 5px;
        text-align: center;
        img {
            width: 30%;
        }
        h4 {
            margin: 20px;
        }
        .button {
            margin: 0px auto;
            width: 80px;
            text-align: center;
            background-color: #ef915b;
            border-radius: 10px;
            padding: 5px 0;
            color: #fff;
            cursor: pointer;
        }
    }
    .waiter img {
        width: 80%;
        right: 30%;
        transition: all 1s;
    }
}

.section4 {
    .row1 {
        .title {
            margin-top: 30px;
            height: 80px;
            background: url(../images/titlebg.svg) center no-repeat;
            background-size: contain;
            display: flex;
            justify-content: center;
            h2 {
                font-size: 22px;
                align-self: center;
                color: rgb(243, 240, 240);
            }
        }
        .text {
            margin-top: 20px;
            color: #fff;
            display: inline-block;
            p {
                margin: 0;
                padding: 5px;
            }
        }
    }
    .row2,
    .row3 {
        .step {
            margin: 0 auto;
            background-color: #318DD6;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            text-align: center;
            padding: 12px;
            p {
                color: #fff;
                margin: 5px;
            }
        }
        .game {
            margin-top: 20px;
            height: 400px;
            background-color: #e0f1fc;
        }
        .text {
            margin-top: 50px;
            color: #fff;
            display: inline-block;
            p {
                margin: 0;
                padding: 5px;
            }
        }
        .button {
            margin: 20px auto;
            width: 80px;
            text-align: center;
            background-color: #ef915b;
            border-radius: 10px;
            padding: 5px 0;
            color: #fff;
            cursor: pointer;
        }
    }
    .row3 {
        margin-top: 50px;
    }
    .cookWrapper {
        position: relative;
        height: 500px;
        .cookPic1 {
            position: relative;
            top: 10px;
            left: 150px;
        }
        .cookPic2 {
            position: relative;
            top: 100px;
            left: 0px;
        }
        .cookPic3 {
            position: relative;
            top: 200px;
            left: 0px;
        }
        .cookPic4 {
            position: relative;
            top: 270px;
            left: 80px;
        }
        img {
            width: 100px;
        }
        .cookPic4 img {
            width: 200px;
        }
        .half img {
            height: 500px;
            width: auto;
            position: absolute;
            left: 350px;
            top: 0px;
        }
    }
}

.section5 {
    overflow: hidden;
    .title {
        margin-top: 30px;
        height: 80px;
        background: url(../images/titlebg.svg) center no-repeat;
        background-size: contain;
        display: flex;
        justify-content: center;
        h2 {
            font-size: 22px;
            align-self: center;
            color: rgb(243, 240, 240);
        }
    }
    .text {
        color: #fff;
        p {
            margin: 0;
            padding: 5px;
        }
    }
    .button {
        margin: 20px auto;
        width: 80px;
        text-align: center;
        background-color: #ef915b;
        border-radius: 10px;
        padding: 5px 0;
        color: #fff;
        cursor: pointer;
    }
    .contest {
        .cook {
            color: #fff;
            text-align: center;
            img {
                width: 100%;
            }
            .button {
                background-color: #a7d4eb;
                color: #333;
            }
        }
        .cook1 {
            position: relative;
            bottom: -80px;
        }
        .cook3 {
            position: relative;
            bottom: -120px;
        }
        .box {
            width: 60%;
            margin: 0 auto;
        }
    }
}