@import "base/var";

body{
    width: 100%;
    height: 100vh;
    background: radial-gradient(ellipse at top, #FEFFDB,#9cd6ff, #48c6e4);
}

div.header{
    font-family: $fontFamily;
}

div.meal > img{
    width: 15%;
}