@import "base/var";
//標題波浪
.pu_order {
    background: radial-gradient(circle at 10px -7px, transparent 8px, currentColor 8px, currentColor 9px, transparent 9px) repeat-x, radial-gradient(circle at 10px 27px, transparent 8px, currentColor 8px, currentColor 9px, transparent 9px) repeat-x;
    background-size: 20px 20px;
    background-position: -10px calc(100% + 16px), 0 calc(100% - 4px);
    animation: pu_waveFlow 1s infinite linear;
}

#go_top {
    display: none;
}

body {
    background-color: #F0EEE0;
}

section {
    width: 100%;
    // height: 100vh;
    position: relative;
    background-color: #F0EEE0;
    .row0 {
        height: 150px;
        .right {
            background-color: #2E4581;
        }
    }
    .step {
        background: url(../images/bubble.svg) no-repeat;
        background-size: contain;
        width: 80px;
        height: 80px;
        text-align: center;
        .text {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        p {
            color: #fff;
            margin-bottom: 5px;
        }
    }
    .wave {
        background-image: url(../images/wave1.png);
        background-size: 50vh 15vh;
        width: 100%;
        height: 15vh;
        position: absolute;
        bottom: -5vh;
        animation: wave 20s linear infinite;
    }
    @keyframes wave {
        0% {
            background-position: 0
        }
        100% {
            background-position: 100%
        }
    }
}

.section1 {
    // display: none;
    .row1 {
        height: calc(100vh - 150px);
        .left {
            #map {
                padding-bottom: 50%;
                width: 80%;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 10px;
            }
        }
        .right {
            background-color: #2E4581;
            color: #fff;
            .righttext {
                width: 60%;
                position: relative;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                h3 {
                    font-size: $fontSize*1.2;
                }
                p {
                    font-size: $fontSize;
                    margin: 3% 0;
                }
                .question {
                    margin-bottom: 5%;
                }
                .answer {
                    margin-bottom: 15%;
                }
                .port {
                    label {
                        background-color: #fff;
                        color: #034;
                        border-radius: 5px;
                        padding: 5px 10px;
                        margin: 5px 5px 5px 0;
                        cursor: pointer;
                    }
                    input {
                        display: none;
                    }
                    .on {
                        background: #4EB6E6;
                        color: #fff;
                    }
                }
                .people {
                    #people {
                        display: inline-block;
                        width: $fontSize*2;
                        margin-right: 5px;
                        text-align: right;
                    }
                    input#people::-webkit-inner-spin-button {
                        -webkit-appearance: none !important;
                        margin: 0;
                    }
                    .minus,
                    .plus {
                        font-size: $fontSize*1.5;
                        margin-right: 10px;
                        cursor: pointer;
                        position: relative;
                        top: 3px;
                    }
                }
                #calimg {
                    vertical-align: bottom;
                    margin-left: 2%;
                    cursor: pointer;
                }
                .button {
                    @extend %btn_ano;
                    width: 100px;
                    height: 40px;
                    margin: 50px auto 0;
                    text-align: center;
                    padding: 10px 20px;
                }
            }
        }
    }
}

// 月曆燈箱
.box {
    display: none;
    padding: 2.5% 1% 1%;
    background-color: #FBD672;
    position: fixed;
    top: calc(150px + 1%);
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 6px 6px 0px rgb(247, 192, 41);
    border-radius: 0 0 10px 10px;
    .boxclose {
        width: 7%;
        position: absolute;
        top: 4px;
        right: 10px;
        cursor: pointer;
    }
    .wrapper {
        background-color: #fff;
        border-radius: 5px;
        padding: 2% 50px;
    }
    .now {
        display: flex;
        justify-content: space-around;
        .prev {
            width: 10%;
            background: url(../images/left.svg) no-repeat;
            background-position: 50% 50%;
            background-size: contain;
            cursor: pointer;
        }
        .next {
            width: 10%;
            background: url(../images/right.svg) no-repeat;
            background-position: 50% 50%;
            background-size: contain;
            cursor: pointer;
        }
        .time .month {
            font-family: Segoe UI;
            font-size: $fontSize*3;
            font-weight: 700;
            margin: 0 auto;
            margin-bottom: 5%;
            text-align: center;
            color: #204D77;
        }
        .time .year {
            font-family: Segoe UI;
            font-size: $fontSize*1.2;
            font-weight: 700;
            text-align: center;
            color: #204D77;
            margin: 0 auto 20%;
        }
    }
    table {
        font-family: Segoe UI;
        margin: 0 auto 3%;
        padding: 3px;
        tr:first-child td {
            border-radius: 3px;
            background-color: #F5E8D8;
            width: 30px;
            height: 30px;
            line-height: 30px;
            margin: 2px;
            display: inline-block;
        }
        td {
            width: 30px;
            height: 30px;
            line-height: 30px;
            vertical-align: top;
            padding: 0;
            margin: 2px;
            display: inline-block;
            box-sizing: border-box;
            text-align: center;
        }
        td.on1 {
            background-color: #6597AC;
            border-radius: 50%;
            color: #fff;
            cursor: pointer;
        }
        td.on2 {
            background-color: #F7B54D;
            border-radius: 50%;
            color: #fff;
            cursor: pointer;
        }
        td.on3 {
            background-color: #B6A78E;
            border-radius: 50%;
            color: #fff;
            cursor: pointer;
        }
    }
    p {
        margin-top: 5%;
    }
    .btnport {
        display: inline-block;
        padding: 1%;
        color: #fff;
        line-height: $fontSize*2;
        border-radius: 10px;
        background-color: #6597AC;
        cursor: pointer;
    }
    .btnport2 {
        background-color: #F7B54D;
    }
    .btnport3 {
        background-color: #B6A78E;
    }
    .btnport.on {
        padding: 3%;
    }
}

.section2 {
    // display: none;
    // overflow: hidden;
    .row1 {
        height: calc(100vh - 150px);
        .left {
            .row {
                margin-bottom: 3%;
            }
            .leftbg {
                border: 7px solid #E3D6B3;
                position: relative;
                top: 50%;
                transform: translateY(-51%);
            }
            .leftrow1 {
                .mealname {
                    background: url(../images/mealname.svg) no-repeat;
                    background-position: 50% 0;
                    background-size: contain;
                    height: $fontSize*5;
                    h3 {
                        line-height: $fontSize*2.5;
                        text-align: center;
                        font-size: $fontSize*1.5;
                        color: #7E4E4E;
                    }
                }
                margin-bottom: 0;
            }
            .dish {
                margin: 0 auto;
                .img {
                    margin: 0 auto;
                    width: 70%;
                    img {
                        width: 100%;
                    }
                }
                .name {
                    width: 90%;
                    margin: 0 auto;
                    padding: 5% 10%;
                    background-color: #fff;
                    border-radius: 10px;
                    text-align: center;
                    font-size: $fontSize;
                }
            }
            .price {
                border: 5px solid #fff;
                width: 100%;
                height: 80%;
                margin: 10% auto;
                font-size: $fontSize;
                .text {
                    text-align: center;
                    width: 80%;
                    margin: 0 auto;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    p:first-child {
                        color: #7E4E4E;
                        margin-bottom: 10%;
                    }
                    p:last-child {
                        color: #7E4E4E;
                        span {
                            color: #E8A234;
                            font-size: $fontSize*1.5;
                            margin-right: 5%;
                        }
                    }
                }
            }
            .leftrow3 {
                margin-bottom: 3%;
            }
            .leftrow4 {
                margin-bottom: 1%;
                .previouspage {
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-right: 20px solid #7E4E4E;
                    border-left: 10px solid transparent;
                    cursor: pointer;
                }
                .nextpage {
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-left: 20px solid #7E4E4E;
                    cursor: pointer;
                }
            }
        }
        .right {
            background-color: #2E4581;
            color: #fff;
            .righttext {
                width: 80%;
                position: relative;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                h3 {
                    font-size: $fontSize*1.2;
                }
                p {
                    font-size: $fontSize;
                    margin: 3% 0;
                }
                .question {
                    margin-bottom: 10%;
                }
                .answer {
                    margin-bottom: 10%;
                    table {
                        width: 100%;
                        tr {
                            height: 40px;
                            position: relative;
                            text-align: center;
                        }
                        th {
                            padding-bottom: 5px;
                        }
                        .meal {
                            width: $fontSize*2;
                            margin-right: 0px;
                            text-align: right;
                        }
                        input.meal::-webkit-inner-spin-button {
                            -webkit-appearance: none !important;
                            margin: 0;
                        }
                        hr {
                            width: 90%;
                            position: absolute;
                            left: 0;
                            background-color: #fff;
                        }
                        .minus,
                        .plus {
                            font-size: $fontSize*1.5;
                            margin-right: 10px;
                            cursor: pointer;
                            position: relative;
                            top: 3px;
                        }
                        .amount {
                            display: inline-block;
                            margin: 0 $fontSize*0.5;
                            color: #E8A234;
                            font-size: $fontSize*2;
                        }
                    }
                }
                .wrapper {
                    // border: 1px solid #000;
                    text-align: center;
                    .button.previous {
                        @extend %btn;
                        display: inline-block;
                        margin-right: 30px;
                    }
                    .button.next {
                        @extend %btn_ano;
                        display: inline-block;
                    }
                }
            }
        }
    }
}

.section3 {
    // overflow: hidden;
    .row1 {
        height: calc(100vh - 150px);
        .left {
            .row {
                margin-bottom: 3%;
            }
            .leftbg {
                border: 7px solid #E3D6B3;
                position: relative;
                top: 50%;
                transform: translateY(-51%);
            }
            .leftrow1 {
                .mealname {
                    background: url(../images/mealname.svg) no-repeat;
                    background-position: 50% 0;
                    background-size: contain;
                    height: $fontSize*6;
                    h3 {
                        line-height: $fontSize*1.2;
                        text-align: center;
                        font-size: $fontSize;
                        color: #7E4E4E;
                    }
                }
                margin-bottom: 0;
            }
            .dish {
                margin: 0 auto;
                .img {
                    margin: 0 auto;
                    width: 70%;
                    img {
                        width: 100%;
                    }
                }
                .name {
                    width: 90%;
                    margin: 0 auto;
                    padding: 5% 10%;
                    background-color: #fff;
                    border-radius: 10px;
                    text-align: center;
                    font-size: $fontSize;
                }
            }
            .leftrow3 {
                margin-bottom: 3%;
            }
            .leftrow4 {
                margin-bottom: 1%;
                .previouspage {
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-right: 20px solid #7E4E4E;
                    border-left: 10px solid transparent;
                    cursor: pointer;
                }
                .nextpage {
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-left: 20px solid #7E4E4E;
                    cursor: pointer;
                }
            }
        }
        .right {
            background-color: #2E4581;
            color: #fff;
            .righttext {
                width: 80%;
                position: relative;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                h3 {
                    font-size: $fontSize*1.2;
                }
                p {
                    font-size: $fontSize;
                    margin: 3% 0;
                }
                .question {
                    margin-bottom: 10%;
                }
                .answer {
                    margin-bottom: 10%;
                    table {
                        width: 100%;
                        tr {
                            height: 40px;
                            position: relative;
                            text-align: center;
                        }
                        th {
                            padding-bottom: 5px;
                        }
                        .meal {
                            width: $fontSize*2;
                            margin-right: 0px;
                            text-align: right;
                        }
                        input.meal::-webkit-inner-spin-button {
                            -webkit-appearance: none !important;
                            margin: 0;
                        }
                        hr {
                            width: 100%;
                            position: absolute;
                            left: 0;
                            background-color: #fff;
                        }
                        .minus,
                        .plus {
                            font-size: $fontSize*1.5;
                            margin-right: 10px;
                            cursor: pointer;
                            position: relative;
                            top: 3px;
                        }
                        .plus {
                            margin: 0;
                        }
                        .amount {
                            display: inline-block;
                            margin: 0 $fontSize*0.5;
                            color: #E8A234;
                            font-size: $fontSize*2;
                        }
                        .delete {
                            width: 30%;
                            position: relative;
                            transform: translateY(25%);
                            cursor: pointer;
                        }
                    }
                }
                .wrapper {
                    text-align: center;
                    .button.previous {
                        @extend %btn;
                        display: inline-block;
                        margin-right: 30px;
                    }
                    .button.next {
                        @extend %btn_ano;
                        display: inline-block;
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
    }
}

// $desktop : 1200px;
// $medium : 991px;
// $small : 767px;
// $mobile : 576px;
@include rwd(small) {
    section {
        .row0 {
            height: 0px;
            .right {
                display: none;
            }
        }
    }
    .section1 {
        .row0 {
            height: 0px;
            display: none;
        }
        .row1 {
            .left {
                #map {
                    margin: 5% 0;
                }
            }
            .right {
                padding: 5% 0 20%;
            }
        }
    }
    .section2 {
        .row0 {
            height: 0px;
        }
        .row1 {
            height: auto;
            .left {
                margin: 5% 0;
            }
            .right {
                padding: 5% 0 20%;
            }
        }
    }
    .section3 {
        .row0 {
            height: 0px;
        }
        .row1 {
            height: auto;
            .left {
                margin: 5% 0;
            }
            .right {
                padding: 5% 0 50%;
            }
        }
    }
}

@include rwd(mobile) {
    section {
        .row0 {
            height: 0px;
        }
    }
    .section1 {
        .row0 {
            height: 0px;
        }
        .row1 {
            .left {
                #map {
                    height: 300px;
                    margin: 5% 0 5%;
                }
            }
            .right {
                padding: 5% 0;
                .righttext {
                    .port {
                        label {
                            padding: 3% 3%;
                            margin: 5px 0;
                        }
                    }
                }
            }
        }
    }
    .section2 {
        .row0 {
            height: 0px;
        }
        .row1 {
            height: auto;
            .left {
                margin: 5% 0;
            }
            .right {
                padding: 5% 0 20%;
            }
        }
    }
    .section3 {
        .row0 {
            height: 0px;
        }
        .row1 {
            height: auto;
            .left {
                margin: 5% 0;
            }
            .right {
                padding: 5% 0 50%;
            }
        }
    }
}