<header>
    <div class="logo">
        <img src="./images/logo.png" alt="logo">
    </div>
    <div class="name">
        <h2>Ocean Food</h2>
    </div>
    <div class="login">
        <span class="membername">管理員</span>
        <button type="button" class="btn btn-outline-dark logout">登出</button>
    </div>
</header>
<aside>
    <nav>
        <ul>
            <li class="backend_Admin">
                <a href="backend_Admin.html">後台管理員管理</a>
            </li>
            <li class="backend_Member">
                <a href="backend_Member.html">會員</a>
            </li>
            <li class="backend_Route">
                <a href="backend_Route.html">航程管理</a>
            </li>
            <li class="backend_MealList">
                <a href="backend_OrderMaster.html">訂單管理</a>
            </li>
            <li class="backend_Meal">
                <a href="backend_Meal.html">套餐管理</a>
            </li>
            <li class="backend_Seafood">
                <a href="backend_Seafood.html">海鮮種類管理</a>
            </li>
            <li class="backend_Cook">
                <a href="backend_Cook.html">烹調方式管理</a>
            </li>
            <li class="backend_Ingredient">
                <a href="backend_Ingredient.html">配料管理</a>
            </li>
            <li class="backend_Report">
                <a href="backend_Report.html"> 留言檢舉管理</a>
            </li>
            <li class="backend_Message">
                <a href="backend_Message.html">聊天機器人管理</a>
            </li>
        </ul>
    </nav>
</aside>