<header>
    <div class="aaa" style="display: flex;">
        <a href="" style="width: 20%;text-align: center;padding-top: 1%;">
            <img src="/images/logo.png" alt="">
        </a >
        <ul style="display: flex;width: 100%;align-items: center;text-align: center;letter-spacing: 1px;">
            <li class="ship_img_div" style="width: 22%;display: flex;align-items: center;justify-content: center;cursor: pointer;">
                <div class="opacity_div" style="opacity: 0;">
                    <a href="">
                        <img src="./images/cruise.png" width="40" alt="">
                    </a>
                </div>
                <div>
                    <a class="text_a" href="" style="color: #01355D;text-decoration: none;">
                        訂位點餐
                    </a>
                </div> 
            </li>
            <li class="ship_img_div" style="width: 22%;display: flex;align-items: center;justify-content: center;cursor: pointer;">
                <div class="opacity_div" style="opacity: 0;">
                    <a href="">
                        <img src="./images/cruise.png" width="40" alt="">
                    </a>
                </div>
                <div>
                    <a class="text_a" href="" style="color: #01355D;text-decoration: none;">
                        現撈海鮮
                    </a>
                </div>
            </li>
            <li class="ship_img_div" style="width: 22%;display: flex;align-items: center;justify-content: center;cursor: pointer;">
                <div class="opacity_div" style="opacity: 0;">
                    <a href="">
                        <img src="./images/cruise.png" width="40" alt="">
                    </a>
                </div>
                <div>
                    <a class="text_a" href="" style="color: #01355D;text-decoration: none;">
                        客製化料理
                    </a>
                </div>
            </li>
            <li class="ship_img_div" style="width: 22%;display: flex;align-items: center;justify-content: center;cursor: pointer;">
                <div class="opacity_div" style="opacity: 0;">
                    <a href="">
                        <img src="./images/cruise.png" width="40" alt="">
                    </a>
                </div>
                <div>
                    <a class="text_a" href="" style="color: #01355D;text-decoration: none;">
                        美食大賽
                    </a>
                </div>
            </li>
        </ul>
        <div style="display: flex;width: 15%;align-items: center;justify-content: center;cursor: pointer;">
            <div style="font-size: 14px;margin-right: 5%;white-space: nowrap;letter-spacing: 1px;">
                會員登入
            </div>
            <div style="width: 30px;">
                <img src="./images/login.png" alt="" style="max-width: 100%;">
            </div>
        </div>
    </div>
</header>