<!-- 電腦版 -->
<header class="desktop_header">
    <div class="pu_head_wrap_div">
        <a class="pu_logo_a" href="main.html">
            <img src="./images/logo.png" alt="">
        </a>
        <ul class="pu_head_ul">
            <li class="pu_head_li">
                <div>
                    <a class="pu_text_a pu_order" href="order.html">
                        訂位點餐
                    </a>
                </div> 
            </li>
            <li class="pu_head_li">
                <div>
                    <a class="pu_text_a pu_game" href="game.html">
                        現撈海鮮
                    </a>
                </div>
            </li>
            <li class="pu_head_li">
                <div>
                    <a class="pu_text_a pu_customized" href="customized_cuisine.html">
                        客製化料理
                    </a>
                </div>
            </li>
            <li class="pu_head_li">
                <div>
                    <a class="pu_text_a pu_contest" href="contest.html">
                        美食大賽
                    </a>
                </div>
            </li>
        </ul>
        <div class="pu_mem_login_div_wrap" id="mem_lohin_btn">
            <div class="pu_icon_div">
                <img src="./images/login.png" alt="">
            </div>
            <div class="pu_mem_login_div">
                <!-- 會員登入 -->
            </div>
        </div>

        <!-- 登入後的頁面 -->
        <div class="pu_mem_login_div_suc_wrap" id="mem_lohin_suc_btn">
            <div class="pu_icon_suc_div">
                
            </div>
            <div class="pu_mem_login_suc_div">
                
            </div>
            <div class="pu_login_btn">
                <div class="pu_login_member_center">
                    會員中心
                </div>
                <div class="pu_login_logout">
                    登出
                </div>
            </div>
        </div>
        <!--  -->
    </div>
</header>
<!-- 電腦版 -->

<!-- 手機版 -->
<div class="mobile_header_div_wrap" style="position: sticky;position: -webkit-sticky;top: 0px;z-index: 999;overflow-x: hidden;">
    <header class="mobile_header">
        <a class="pu_mb_logo_a" href="main.html">
            <img src="./images/logo.png" alt="">
        </a>
        <div class="mb_sma_cloud">
            <div>
                <img class="mb_sma_cloud_img" src="./images/mobile_small_cloud.png" alt="">
            </div>
            <div class="mb_big_cloud_img_div">
                <img class="mb_big_cloud_img" src="./images/mobile_big_cloud.png" alt="">
                <div class="mb_big_cloud_text">
                    <div>
                        <a class="pu_mb_text_a pu_order" href="order.html">
                            訂位點餐
                        </a>
                    </div> 
                    <div>
                        <a class="pu_mb_text_a pu_game" href="game.html">
                            現撈海鮮
                        </a>
                    </div>
                    <div>
                        <a class="pu_mb_text_a pu_customized" href="customized_cuisine.html">
                            客製化料理
                        </a>
                    </div>
                    <div>
                        <a class="pu_mb_text_a pu_contest" href="contest.html">
                            美食大賽
                        </a>
                    </div>
                    <div class="mem_lohin_btn_mobile_div">
                        <a id="mem_lohin_btn_mobile" class="pu_mb_text_a" href="">
                            會員登入
                        </a>
                    </div>
                    <div class="mem_lohin_btn_mobile_div_center" style="display: none;">
                        <a id="mem_lohin_btn_mobile_div_center" class="pu_mb_text_a" href="member_data.html">
                            會員中心
                        </a>
                    </div><div class="mem_lohin_btn_mobile_div_logout" style="display: none;">
                        <a id="mem_lohin_btn_mobile_div_logout" class="pu_mb_text_a" href="">
                            登出
                        </a>
                    </div>
                </div>
    
            </div>
            <div class="burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>
</div>
<!-- 手機版 -->

<!-- 會員登入 -->
<div id="Login">
    <div id="cancel">
        &#10005
    </div>

    <!-- 會員登入 -->
    <div class="pu_mem_login_wrap" id="pu_mem_login_wrap">
        <div class="mem_login">會員登入</div>
        <form method="POST" action="" class="formSignIn">
            <div class="pu_email_div">
                <label for="loginEmail">
                    信箱   
                </label>
                <input type="text" id="loginEmail">
            </div>
            <div class="pu_psw_div">
                <label for="loginPassword">
                        密碼
                </label>
                <input type="password" id="loginPassword">
            </div>
            <button type="button" id="signInBtn" class="signInBtn">
                登入
            </button>     
            <div id="action">
                <a class="showRegister" id="showRegister" href="#" >立即註冊</a>
            </div>
        </form>
    </div>
    <!-- 會員登入 -->

    <!-- 修改密碼 -->
    <div class="pu_mem_login_wrap" id="pu_mem_forget_wrap">
        <div class="mem_login">修改密碼</div>
        <form class="formSignIn">
            <div class="pu_email_div">
                <div style="margin-bottom: 10%;">
                    <label for="Email">
                        舊密碼   
                    </label>
                    <input type="password" id="old_psw">
                </div>
                <div>
                    <label for="Email">
                        新密碼   
                    </label>
                    <input type="password" id="new_psw">
                </div>
            </div>
            <button id="modify_signInBtn" class="signInBtn" type="button">
                修改
            </button>     
        </form>
    </div>
    <!-- 忘記密碼 -->

    <!-- 立即註冊 -->
    <div class="pu_mem_login_wrap" id="pu_mem_resist_wrap">
        <div class="mem_login">會員註冊</div>
        <form method="POST" action="" class="formSignIn">
            <div class="pu_email_div">
                <label for="mem_name">
                    會員名稱   
                </label>
                <input type="text" id="mem_name" name="mem_name">
            </div>
            <div class="pu_email_div">
                <label for="mem_email">
                    會員信箱   
                </label>
                <input type="email" id="mem_email" name="mem_email">
            </div>
            <div class="pu_email_div">
                <label for="mem_psw">
                    會員密碼   
                </label>
                <input type="password" id="mem_psw" name="mem_psw">
            </div>
            <div class="pu_email_div">
                <label for="mem_psw_confirm">
                    確認密碼   
                </label>
                <input type="password" id="mem_psw_confirm" name="mem_psw_confirm">
            </div>
               
            <div id="action">
                <a  href="#" id="mem_regisit_finish">註冊完成</a>
                <a class="return_login" href="#">返回登入</a>
            </div>
        </form>
    </div>
    <!-- 立即註冊 -->

</div>
<div id="Login_back"></div>
<!-- 會員登入 -->

<!-- 回到最上方按鈕 -->
<button type="button" id="go_top">
    <img src="./images/GotoTop.png" alt="">
</button>

<!-- 提示燈箱 -->
<div class="alertbox">
    <img class="boxclose" src="./images/blue-cross-icon.png" alt="">
    <div class="wrapper"></div>
</div>
    