<header>
    <div class="pu_head_wrap_div">
        <a class="pu_logo_a" href="main.html">
            <img src="/images/LOGO-0421.png" alt="">
        </a>
        <ul class="pu_head_ul">
            <li class="pu_head_li">
                <div>
                    <a class="pu_text_a" href="">
                        訂位點餐
                    </a>
                </div> 
            </li>
            <li class="pu_head_li">
                <div>
                    <a class="pu_text_a" href="">
                        現撈海鮮
                    </a>
                </div>
            </li>
            <li class="pu_head_li">
                <div>
                    <a class="pu_text_a" href="">
                        客製化料理
                    </a>
                </div>
            </li>
            <li class="pu_head_li">
                <div>
                    <a class="pu_text_a" href="">
                        美食大賽
                    </a>
                </div>
            </li>
        </ul>
        <div class="pu_mem_login_div_wrap">
            <div class="pu_mem_login_div">
                會員登入
            </div>
            <div class="pu_icon_div">
                <img src="./images/login.png" alt="">
            </div>
        </div>
    </div>
</header>