<div class="reboot_div">
    <div class="reboot_div_text">快來詢問我</div>
    <div class="reboot_div_content">
        你好，有什麼可以幫忙嗎
    </div>
    <div class="reboot_btn_div">
        <button>
            我要發問
        </button>
    </div>
</div>
<div class="pu_big_content_wrap">
    <div class="pu_big_content_title">
       歐炫富
       <div class="pu_big_content_cancel">
            &#10006
       </div>
    </div>
    <div class="pu_big_content_center">
        <div class="pu_big_content_text">
            歡迎來到炫富海上餐廳，請問需要什麼服務呢？
        </div>
    </div>
    <div class="pu_reb_ul_div">
        <ul class="pu_reb_ul">
            <!-- <li class="pu_reb_li">訂位點餐</li>
            <li class="pu_reb_li">現撈海鮮</li>
            <li class="pu_reb_li">客製化料理</li>
            <li class="pu_reb_li">美食大賽</li> -->
        </ul>
    </div>
    <form action="">
        <div class="pu_reb_textarea">
            <textarea name="" id="textarea"></textarea>
        </div>
        <div class="pu_reb_btn">
            <button>
                送出
            </button>
        </div>
    </form>
</div>