// desktop header
.mobile_header{
    display: none;
}
.pu_head_wrap_div{
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    z-index: 10;
    .pu_logo_a{
        width: 20%;
        text-align: center;
        padding-top: 1%;
        display: block;
    }
    .pu_head_ul{
        display: flex;
        width: 100%;
        align-items: center;
        text-align: center;
        .pu_head_li{
            width: 22%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            .pu_text_a{
                color: #01355D;
                text-decoration: none;
                padding: 5px 0;
                font-size: $fontSize*1.25;
                letter-spacing: 1px;
            }
        }
    }
    .pu_mem_login_div_wrap{
        display: flex;
        width: 15%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .pu_mem_login_div{
            font-size: $fontSize;
            margin-right: 5%;
            white-space: nowrap;
            letter-spacing: 1px;
        }
        .pu_icon_div{
            width: 30px;
            img{
                max-width: 100%;
            }
        }
    }
    &::after{
        content: "";
        background-image: url('../images/cloud.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: -15px;
        left: 0;
        right: 0;
        bottom: auto;
        height: 150px;
        width: 100%;
        z-index: -1;
    }
}

.pu_flow-wave {
    background: radial-gradient(circle at 10px -7px, transparent 8px, currentColor 8px, currentColor 9px, transparent 9px) repeat-x,
        radial-gradient(circle at 10px 27px, transparent 8px, currentColor 8px, currentColor 9px, transparent 9px) repeat-x;
    background-size: 20px 20px;
    background-position: -10px calc(100% + 16px), 0 calc(100% - 4px);
}

.pu_flow-wave:hover{
    animation: pu_waveFlow 1s infinite linear;
}
@keyframes pu_waveFlow {
    from { background-position-x: -10px, 0; }
    to { background-position-x: -30px, -20px; }
}
// desktop header



// h1
.pu_h1_div{
    position: relative;
    width: 40%;
    margin: 12% auto 5% auto;
    .pu_h1_img{
        max-width: 100%;
    }
    .pu_div_text{
        position: absolute;
        bottom: 22%;
        right: 0;
        left: 0;
        letter-spacing: 1px;
    }
}
// h1

@include rwd(desktop){
    .pu_h1_div{
        position: relative;
        margin: 15% auto 5% auto;
        width: 40%;
        font-size: $fontSize*2;
        .pu_h1_img{
            max-width: 100%;
        }
        .pu_div_text{
            position: absolute;
            bottom: 20%;
            right: 0;
            left: 0;
            letter-spacing: 1px;
        }
    }
}

@include rwd(medium){
    .pu_h1_div{
        position: relative;
        margin: 17% auto 5% auto;
        width: 50%;
        font-size: $fontSize*1.5;
        .pu_h1_img{
            max-width: 100%;
        }
        .pu_div_text{
            position: absolute;
            bottom: 23%;
            right: 0;
            left: 0;
            letter-spacing: 1px;
        }
    }
}

@include rwd(small){
    //mobile_header
    .desktop_header{
        display: none;
    }
    .mobile_header{
        display: block;
        position: relative;
        // overflow: hidden;
        .pu_mb_logo_a{
            position: relative;
            z-index: 5;
            display: block;
            width: 10%;
            margin: 5px 0 0 5px;
            img{
                max-width: 100%;
            }
        }
        .mb_sma_cloud{
            .mb_sma_cloud_img{
                position: absolute;
                right: -5px;
                top: -10px;
                z-index: 2;
            }
            .mb_big_cloud_img_div{
                position: absolute;
                right: -770px;
                top: -5px;
                z-index: 10;
                display: none;
                .mb_big_cloud_text{
                    position: absolute;
                    z-index: 5;
                    top: 10%;
                    left: 50%;
                    .pu_mb_text_a{
                        color: #01355D;
                        text-decoration: none;
                        line-height: 5;
                        letter-spacing: 1px;
                        padding: 5px 0;
                        font-size: $fontSize*1.2;
                    }
                }
            }
            .burger {
                position: absolute;
                z-index: 10;
                right: 10px;
                top: 5px;
                cursor: pointer;
                transform: rotateY(0);
                transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
                span {
                    display: block;
                    width: 33px;
                    height: 3px;
                    margin-bottom: 7px;
                    position: relative;
                    background: #01355D; 
                    z-index: 1;
                    transform-origin: 4px 0px;
                    transition: transform 0.2s cubic-bezier(0.77,0.2,0.05,1.0),
                                background 0.2s cubic-bezier(0.77,0.2,0.05,1.0),
                                opacity 0.25s ease;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
        .burger--close span:nth-child(1) {
            opacity: 1;
            transform: rotate(45deg) translate(5px, 0px);
        }
        .burger--close span:nth-child(2) {
            opacity: 0;
            transform: translateX(10px) scale(0, 0);
        }
        .burger--close span:nth-child(3) {
            opacity: 1;
            transform: rotate(-45deg) translate(0px, 2px);
        }
        .burger--close {
            transform: rotate(180deg);
        }
    }
    //mobile_header
    .pu_h1_div{
        position: relative;
        margin: 5% auto 5% auto;
        width: 50%;
        font-size: $fontSize*1.5;
        z-index: -1;
        .pu_h1_img{
            max-width: 100%;
        }
        .pu_div_text{
            position: absolute;
            bottom: 20%;
            right: 0;
            left: 0;
            letter-spacing: 1px;
        }
    }
}

@include rwd(mobile){
    .pu_h1_div{
        position: relative;
        margin: 5% auto 5% auto;
        width: 60%;
        font-size: $fontSize*1.25;
        z-index: -1;
        .pu_h1_img{
            max-width: 100%;
        }
        .pu_div_text{
            position: absolute;
            bottom: 20%;
            right: 0;
            left: 0;
            letter-spacing: 1px;
        }
    }
}
